# Analiza kolumny system: details...


Import danych

In [20]:
from analysis_functions import (
    import_merged_bestiaries,
    unpack_column,
    remove_redundant_level,
)
import pandas as pd


bestiary = import_merged_bestiaries(
    [
        "pathfinder_2e_data/pathfinder-bestiary.db",
        "pathfinder_2e_data/pathfinder-bestiary-2.db",
        "pathfinder_2e_data/pathfinder-bestiary-3.db",
    ]
)

In [4]:
system = unpack_column(bestiary, "system")

In [5]:
system.head()

,abilities,attributes,details,resources,saves,traits,schema
0,"{'cha': {'mod': 1}, 'con': {'mod': 5}, 'dex': ...","{'ac': {'details': '', 'value': 29}, 'allSaves...","{'alignment': {'value': 'CE'}, 'blurb': '', 'c...","{'focus': {'max': 1, 'value': 1}}","{'fortitude': {'saveDetail': '', 'value': 22},...","{'languages': {'custom': '', 'selected': [], '...","{'version': 0.8270000000000001, 'lastMigration..."
1,"{'cha': {'mod': 1}, 'con': {'mod': 5}, 'dex': ...","{'ac': {'details': '', 'value': 28}, 'allSaves...","{'alignment': {'value': 'N'}, 'blurb': '', 'cr...",{},"{'fortitude': {'saveDetail': '', 'value': 21},...","{'languages': {'custom': '', 'selected': [], '...","{'version': 0.8270000000000001, 'lastMigration..."
2,"{'cha': {'mod': -2}, 'con': {'mod': 6}, 'dex':...","{'ac': {'details': '', 'value': 25}, 'allSaves...","{'alignment': {'value': 'N'}, 'blurb': '', 'cr...",{},"{'fortitude': {'saveDetail': '', 'value': 20},...","{'languages': {'custom': '', 'selected': [], '...","{'version': 0.8270000000000001, 'lastMigration..."
3,"{'cha': {'mod': 6}, 'con': {'mod': 5}, 'dex': ...","{'ac': {'details': '', 'value': 41}, 'allSaves...","{'alignment': {'value': 'LE'}, 'blurb': '', 'c...","{'focus': {'max': 1, 'value': 1}}","{'fortitude': {'saveDetail': '', 'value': 30},...","{'languages': {'custom': '', 'selected': [], '...","{'version': 0.8270000000000001, 'lastMigration..."
4,"{'cha': {'mod': 1}, 'con': {'mod': 1}, 'dex': ...","{'ac': {'details': '', 'value': 16}, 'allSaves...","{'alignment': {'value': 'LG'}, 'blurb': '', 'c...","{'focus': {'max': 1, 'value': 1}}","{'fortitude': {'saveDetail': '', 'value': 6}, ...","{'languages': {'custom': '', 'selected': [], '...","{'version': 0.8270000000000001, 'lastMigration..."

In [6]:
system.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1206 entries, 0 to 364
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   abilities   1206 non-null   object
 1   attributes  1206 non-null   object
 2   details     1206 non-null   object
 3   resources   1206 non-null   object
 4   saves       1206 non-null   object
 5   traits      1206 non-null   object
 6   schema      1206 non-null   object
dtypes: object(7)
memory usage: 75.4+ KB

## Details

In [7]:
details = unpack_column(system, "details")

In [8]:
details.head()

,alignment,blurb,creatureType,level,privateNotes,publicNotes,source
0,{'value': 'CE'},,Dragon,{'value': 10},,<p>The most feral and least intelligent of all...,{'value': 'Pathfinder Bestiary'}
1,{'value': 'N'},,Animal,{'value': 10},,<p>Brontosauruses are truly gigantic behemoths...,{'value': 'Pathfinder Bestiary'}
2,{'value': 'N'},,Animal,{'value': 8},,<p>The monstrous giant anaconda is capable of ...,{'value': 'Pathfinder Bestiary'}
3,{'value': 'LE'},,Dragon,{'value': 17},,<p>Green dragons are the most contemplative of...,{'value': 'Pathfinder Bestiary'}
4,{'value': 'LG'},,Celestial,{'value': 1},,"<p>Friendly, curious, and eternally optimistic...",{'value': 'Pathfinder Bestiary'}

Jak widać wyżej mamy sporo fałszywych wartości non-null -> zmieniamy je na np.nan (null)

In [9]:
import numpy as np


details = details.replace("", np.nan)

In [10]:
details.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1206 entries, 0 to 364
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   alignment     1206 non-null   object
 1   blurb         0 non-null      float64
 2   creatureType  825 non-null    object
 3   level         1206 non-null   object
 4   privateNotes  0 non-null      float64
 5   publicNotes   1206 non-null   object
 6   source        1206 non-null   object
dtypes: float64(2), object(5)
memory usage: 75.4+ KB

* **alignment** - do sprawdzenia
* blurb - i tak nic nie ma
* **creatureType** - do sprawdzenia
* **level** - "do sprawdzenia"
* privateNotes - i tak nic nie ma
* **publicNotes** - do sprawdzenia
* **source** - do sprawdzenia

### Details: Alignment

In [11]:
alignment = unpack_column(details, "alignment")

In [12]:
alignment.columns

Index(['value'], dtype='object')

In [13]:
alignment.head()

  value
0    CE
1     N
2     N
3    LE
4    LG

In [14]:
alignment.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1206 entries, 0 to 364
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   value   1206 non-null   object
dtypes: object(1)
memory usage: 18.8+ KB

Same values -> można zrobić to co z mod

In [44]:
alignment.value.unique()

array(['CE', 'N', 'LE', 'LG', 'CG', 'NE', 'CN', 'NG', 'LN'], dtype=object)

Mamy 9 unikatowych wartości
 * czy są one istotne????
 * czy przydadzą się do if -ów???

### Details: CreatureType

In [49]:
types = unpack_column(details, "creatureType")

In [50]:
types.head()

           0
0     Dragon
1     Animal
2     Animal
3     Dragon
4  Celestial

In [51]:
types.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1206 entries, 0 to 364
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       825 non-null    object
dtypes: object(1)
memory usage: 18.8+ KB

Z jakiegoś powodu nie każdy potworek ma typ:
 * czy to problem?
 * czy może być więcej?

In [52]:
types[0].unique()

array(['Dragon', 'Animal', 'Celestial', 'Aberration', 'Undead',
       'Humanoid', 'Construct', 'Spirit', 'Elemental', 'Fey', 'Beast',
       'Fiend', 'Plant', 'Giant', nan, 'Monitor', 'Ooze', 'Fungus',
       'Astral', 'Animal, Undead', 'Dragon, Elemental', 'Beast, Dragon',
       'Giant, Humanoid', 'Petitioner', 'Beast, Fiend', 'Fungus, Ooze',
       'Spirit, Undead', 'Fiend, Giant, Humanoid', 'Dragon, Plant',
       'Fey, Plant', 'Aberration, Time', 'Aberration, Negative',
       'Beast, Fey', 'Beast, Humanoid', 'Humanoid, Positive', 'Dream',
       'Dragon, Undead', 'Aberration, Ethereal', 'Aberration, Dream',
       'Fungus, Plant'], dtype=object)

Mamy 9 typów (+ pusty) - **może się przydać później do tych podpowiedzi if-owych**

### Datails: Level

In [53]:
level = unpack_column(details, "level")

In [54]:
level.head()

   value
0     10
1     10
2      8
3     17
4      1

In [55]:
level.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1206 entries, 0 to 364
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   value   1206 non-null   int64
dtypes: int64(1)
memory usage: 18.8 KB

# **Najważniejsza wartość! - to co** przwidujemy
analogicznie jak abilities - mod

### Details: PublicNotes

In [57]:
notes = unpack_column(details, "publicNotes")

In [58]:
notes.head()

                                                   0
0  <p>The most feral and least intelligent of all...
1  <p>Brontosauruses are truly gigantic behemoths...
2  <p>The monstrous giant anaconda is capable of ...
3  <p>Green dragons are the most contemplative of...
4  <p>Friendly, curious, and eternally optimistic...

In [59]:
notes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1206 entries, 0 to 364
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       1206 non-null   object
dtypes: object(1)
memory usage: 18.8+ KB

Zwykłe opisy do modelu raczej nie są potrzebne

### Details: Source

In [60]:
source = unpack_column(details, "source")

In [61]:
source.head()

                 value
0  Pathfinder Bestiary
1  Pathfinder Bestiary
2  Pathfinder Bestiary
3  Pathfinder Bestiary
4  Pathfinder Bestiary

In [63]:
source.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1206 entries, 0 to 364
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   value   1206 non-null   object
dtypes: object(1)
memory usage: 18.8+ KB

In [64]:
source.value.unique()

array(['Pathfinder Bestiary', 'Pathfinder Core Rulebook',
       'Pathfinder Bestiary 2', 'Pathfinder Bestiary 3'], dtype=object)

Skąd pochodzą potworki

### Details: podsumowanie
* **alignment**
    * do rozpakowania (abilities:mod case)
    * każdy potworek ma
    * czy są istotne?
    * może się przydać do if-ów
    * czy są istotne?
* blurb
    * puste
* **creatureType**
    * nie każdy potworek ma
    * może się przydać do if-ów
* **level**
    * do rozpakowania (abilities:mod case)
    * każdy potworek ma
    * CR
* privateNotes
    * puste
* **publicNotes**
    * każdy potworek ma
    * opis potworków
    * zbędne
* **source**
    * każdy potworek ma
    * książka z której jest potworek
    * raczej zbędne