# Regresja liniowa
### Parametry:
* **abilities**:
    * **cha**
    * **con**
    * **dex**
    * **int**
    * **str**
    * **wis**
* **attributes**
    * **hp**
    * **ac**

### Przewidujemy: *level*

In [1]:
import numpy as np
import pandas as pd

In [2]:
bestiary1 = pd.read_json("pathfinder_2e_data/pathfinder-bestiary.db", lines=True)
bestiary2 = pd.read_json("pathfinder_2e_data/pathfinder-bestiary-2.db", lines=True)
bestiary3 = pd.read_json("pathfinder_2e_data/pathfinder-bestiary-3.db", lines=True)

In [3]:
b = [bestiary1, bestiary2, bestiary3]

bestiary = pd.concat(b, join='outer', axis=0).fillna(np.nan)

In [4]:
print((bestiary1.size + bestiary2.size + bestiary3.size) == bestiary.size) # sprawdzenie czy coś nie uciekło

True

In [5]:
bestiary.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1206 entries, 0 to 364
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   _id             1206 non-null   object
 1   img             1206 non-null   object
 2   items           1206 non-null   object
 3   name            1206 non-null   object
 4   system          1206 non-null   object
 5   type            1206 non-null   object
 6   flags           1206 non-null   object
 7   prototypeToken  85 non-null     object
dtypes: object(8)
memory usage: 84.8+ KB

Po połączeniu sprawdzamy czy wszystkie z rekordów to potworki - *npc*, a nie jakieś przedmioty

In [6]:
bestiary.type.unique()

array(['npc'], dtype=object)

W bestiariuszach nie ma nic oprócz bestii, więc nic nie usuwamy.

In [7]:
from copy import deepcopy

In [8]:
bestiary_backup = deepcopy(bestiary)

```unpack_column``` - Funkcja która rozpakowuje słownik i zmienia go w dataframe. Printuje pierwszą wartość tabeli i długość

*by P J*

In [9]:
def unpack_column(df, column_name):
    new_df = df[column_name].apply(pd.Series)
    return new_df

## Wyodrębnianie kolumny *system* i przygotowanie danych
Wszystkie potzrebne wartości znajdyją się w tej kolumnie

In [10]:
bestiary_system = unpack_column(bestiary, "system")

### Przygotowanie danych z system: *abilities*
* cha
* con
* dex
* int
* str
* wis

In [11]:
abilities = unpack_column(bestiary_system, 'abilities')

for col in abilities.columns:
    for i, row in abilities.iterrows():
        row[col]=row[col].get('mod')

In [12]:
abilities.head()

  cha con dex int str wis
0   1   5   2   1   7   2
1   1   5   0  -4   9   2
2  -2   6   3  -4   7   3
3   6   5   4   6   7   5
4   1   1   3  -1  -5   1

In [13]:
abilities.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1206 entries, 0 to 364
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cha     1206 non-null   object
 1   con     1206 non-null   object
 2   dex     1206 non-null   object
 3   int     1206 non-null   object
 4   str     1206 non-null   object
 5   wis     1206 non-null   object
dtypes: object(6)
memory usage: 66.0+ KB

### Przygotowanie danych z attributes

In [14]:
attributes = unpack_column(bestiary_system, 'attributes')

#### Przygotowanie attributes: *ac*
W modelu wykorzystamy wastość value z ac

In [15]:
attributes_ac = unpack_column(attributes, "ac")

In [16]:
attributes_ac = pd.DataFrame(data=attributes_ac.value)
attributes_ac.columns = ["ac"]

In [17]:
attributes_ac.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1206 entries, 0 to 364
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ac      1206 non-null   int64
dtypes: int64(1)
memory usage: 18.8 KB

In [18]:
attributes_ac.head()

   ac
0  29
1  28
2  25
3  41
4  16

#### Przygotowanie attributes: *hp*
W modelu wykorzystamy wastość value z hp i jak na razie nie będziemy uwzględniać pozostałych

In [19]:
attributes_hp = unpack_column(attributes, "hp")

In [20]:
attributes_hp = pd.DataFrame(data=attributes_hp.value)
attributes_hp.columns = ["hp"]

In [21]:
attributes_hp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1206 entries, 0 to 364
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   hp      1206 non-null   int64
dtypes: int64(1)
memory usage: 18.8 KB

In [22]:
attributes_hp.head()

    hp
0  215
1  220
2  175
3  315
4   20

## Usunięcie niepotrzebnych wartości z oryginalnej tabeli i dodanie przygotowanych powyżej danych

In [23]:
# bestiary_copy = deepcopy(bestiary)

In [24]:
# bestiary = deepcopy(bestiary_copy)

In [25]:
# bestiary = deepcopy(bestiary_backup)

In [26]:
for col in abilities:
    bestiary[col] = abilities[col]

In [27]:
bestiary.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1206 entries, 0 to 364
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   _id             1206 non-null   object
 1   img             1206 non-null   object
 2   items           1206 non-null   object
 3   name            1206 non-null   object
 4   system          1206 non-null   object
 5   type            1206 non-null   object
 6   flags           1206 non-null   object
 7   prototypeToken  85 non-null     object
 8   cha             1206 non-null   object
 9   con             1206 non-null   object
 10  dex             1206 non-null   object
 11  int             1206 non-null   object
 12  str             1206 non-null   object
 13  wis             1206 non-null   object
dtypes: object(14)
memory usage: 141.3+ KB

In [28]:
bestiary["ac"] = attributes_ac

In [29]:
bestiary.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1206 entries, 0 to 364
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   _id             1206 non-null   object
 1   img             1206 non-null   object
 2   items           1206 non-null   object
 3   name            1206 non-null   object
 4   system          1206 non-null   object
 5   type            1206 non-null   object
 6   flags           1206 non-null   object
 7   prototypeToken  85 non-null     object
 8   cha             1206 non-null   object
 9   con             1206 non-null   object
 10  dex             1206 non-null   object
 11  int             1206 non-null   object
 12  str             1206 non-null   object
 13  wis             1206 non-null   object
 14  ac              1206 non-null   int64
dtypes: int64(1), object(14)
memory usage: 150.8+ KB

In [30]:
bestiary["hp"] = attributes_hp

In [31]:
bestiary.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1206 entries, 0 to 364
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   _id             1206 non-null   object
 1   img             1206 non-null   object
 2   items           1206 non-null   object
 3   name            1206 non-null   object
 4   system          1206 non-null   object
 5   type            1206 non-null   object
 6   flags           1206 non-null   object
 7   prototypeToken  85 non-null     object
 8   cha             1206 non-null   object
 9   con             1206 non-null   object
 10  dex             1206 non-null   object
 11  int             1206 non-null   object
 12  str             1206 non-null   object
 13  wis             1206 non-null   object
 14  ac              1206 non-null   int64
 15  hp              1206 non-null   int64
dtypes: int64(2), object(14)
memory usage: 160.2+ KB

In [32]:
bestiary.drop("prototypeToken", axis=1, inplace=True)
bestiary.drop("flags", axis=1, inplace=True)
bestiary.drop("type", axis=1, inplace=True)
bestiary.drop("system", axis=1, inplace=True)
bestiary.drop("name", axis=1, inplace=True)
bestiary.drop("items", axis=1, inplace=True)
bestiary.drop("img", axis=1, inplace=True)
bestiary.drop("_id", axis=1, inplace=True)

In [33]:
bestiary.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1206 entries, 0 to 364
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cha     1206 non-null   object
 1   con     1206 non-null   object
 2   dex     1206 non-null   object
 3   int     1206 non-null   object
 4   str     1206 non-null   object
 5   wis     1206 non-null   object
 6   ac      1206 non-null   int64
 7   hp      1206 non-null   int64
dtypes: int64(2), object(6)
memory usage: 84.8+ KB

In [34]:
bestiary.head()

  cha con dex int str wis  ac   hp
0   1   5   2   1   7   2  29  215
1   1   5   0  -4   9   2  28  220
2  -2   6   3  -4   7   3  25  175
3   6   5   4   6   7   5  41  315
4   1   1   3  -1  -5   1  16   20

## Wyobrębnienie wartości przewidywanej *level*

In [35]:
level = unpack_column(unpack_column(bestiary_system, "details"), "level")

In [36]:
level.columns = ["level"]

In [37]:
level.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1206 entries, 0 to 364
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   level   1206 non-null   int64
dtypes: int64(1)
memory usage: 18.8 KB

In [38]:
level.head()

   level
0     10
1     10
2      8
3     17
4      1

## Podział na zbiór treningowy i testowy

In [39]:
x = deepcopy(bestiary)
y = deepcopy(level)

In [40]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(
    x, y, test_size=0.25, random_state=0, shuffle=True
)

## Regresja liniowa

In [41]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(x_train, y_train)
predict = model.predict(x_test)

## Sprawdzenie modelu

In [42]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

r2 = r2_score(y_test, predict)
MSE = mean_squared_error(y_test, predict)
print("R2 score:", round(r2, 2))
print("Mean square error:", round(MSE, 2))

R2 score: 0.98
Mean square error: 0.59

* R2 - blisko 1, więc spoko
* trochę gorzej z mse byłoby fajnie jakby to była wartość bliżej 0, ale możliwe, że jak się zastosuje jakieś skalowanie
cech czy inną magię to będzie lepiej

In [43]:
from sklearn.metrics import mean_absolute_error, median_absolute_error, explained_variance_score

print("Mean absolute error=", round(mean_absolute_error(y_test, predict), 2))
print("Median absolute error", round(median_absolute_error(y_test, predict), 2))
print("Explain variance score =", round(explained_variance_score(y_test, predict), 2))

Mean absolute error= 0.53
Median absolute error 0.33
Explain variance score = 0.98

In [44]:
y_test

     level
395      4
5        7
141     13
452      8
52      10
..     ...
77      13
11       0
155     13
240     13
52      13

[302 rows x 1 columns]

In [46]:
predict

array([[ 3.97071151],
       [ 7.55108636],
       [12.65227177],
       [ 8.3011707 ],
       [10.55697225],
       [ 2.42171933],
       [12.8454115 ],
       [ 0.56995194],
       [ 2.48233849],
       [ 2.41320599],
       [ 4.31566236],
       [ 2.58998839],
       [ 5.18886725],
       [ 7.78325486],
       [ 0.76054551],
       [ 2.18391812],
       [ 7.6916723 ],
       [ 7.60719381],
       [ 1.29629252],
       [ 3.91429822],
       [10.41437684],
       [ 6.0752099 ],
       [ 2.87468923],
       [ 2.71822916],
       [ 0.89218769],
       [ 1.28255094],
       [ 3.94032307],
       [ 3.11332108],
       [ 9.23999991],
       [ 0.54276186],
       [ 2.2350029 ],
       [ 6.51554244],
       [ 3.11332108],
       [ 3.13476207],
       [ 8.79578503],
       [ 2.72362384],
       [10.38392818],
       [ 0.89218769],
       [ 5.79535245],
       [ 1.32809702],
       [ 5.78546017],
       [12.02439583],
       [14.71501779],
       [10.65396054],
       [ 1.84903057],
       [ 5.90104653],
       [ 5.84968713],
       [ 3.91429822],
       [ 6.88804346],
       [15.91169365],
       [ 5.08898754],
       [11.68631514],
       [ 6.00137692],
       [10.56151267],
       [ 2.13763676],
       [ 3.83317222],
       [18.87154832],
       [ 5.93352456],
       [ 5.16438545],
       [ 1.23477117],
       [ 1.0603116 ],
       [ 5.32837558],
       [ 3.44773211],
       [ 2.92286948],
       [14.11474934],
       [18.92134769],
       [ 2.2487998 ],
       [ 5.23593953],
       [ 7.88086706],
       [ 8.55275821],
       [10.04381445],
       [12.45378412],
       [ 4.11106122],
       [ 8.00974649],
       [ 2.03966549],
       [ 0.89218769],
       [ 9.98389055],
       [ 4.64739456],
       [ 5.10817939],
       [ 2.45179288],
       [ 7.7016741 ],
       [ 1.17416809],
       [ 3.51459709],
       [10.72944721],
       [19.85478088],
       [ 5.95246094],
       [ 6.91122315],
       [16.00628847],
       [11.32870601],
       [ 0.88297317],
       [ 3.91429822],
       [ 9.6887048 ],
       [ 0.68516134],
       [19.55788151],
       [ 6.64369192],
       [17.11676269],
       [18.38971713],
       [17.09994815],
       [12.18188592],
       [ 5.87311798],
       [19.61054023],
       [ 4.7875418 ],
       [11.83559168],
       [ 2.87258325],
       [14.05417519],
       [10.13173543],
       [ 6.15809812],
       [ 6.18265615],
       [ 4.55251074],
       [ 2.69201013],
       [ 8.46941866],
       [ 5.62078242],
       [ 7.81827676],
       [ 3.00551201],
       [ 3.93930562],
       [ 2.28597568],
       [ 6.08310275],
       [ 7.37644804],
       [ 6.29152507],
       [19.09604295],
       [ 1.95171406],
       [10.84665885],
       [ 5.74653106],
       [ 2.07862675],
       [ 5.46927755],
       [ 9.07472681],
       [ 2.2698518 ],
       [13.66787754],
       [ 0.50615503],
       [ 1.04644365],
       [10.65396054],
       [10.17217622],
       [ 6.19146495],
       [ 0.59180367],
       [ 9.12631152],
       [17.53227779],
       [ 8.43235187],
       [ 3.08037681],
       [15.95548466],
       [ 0.07327632],
       [ 2.8382804 ],
       [ 3.25349032],
       [ 1.25753229],
       [ 2.7564188 ],
       [ 1.43540605],
       [ 6.23151423],
       [ 2.33252056],
       [19.52935324],
       [ 6.56463215],
       [ 9.12631152],
       [ 7.96447219],
       [ 6.56463215],
       [10.68065443],
       [19.89661575],
       [20.73352218],
       [ 9.86742716],
       [12.68188191],
       [20.40128246],
       [ 6.59294803],
       [ 1.43748075],
       [16.45328232],
       [20.86804976],
       [ 5.95299609],
       [11.95550788],
       [ 3.47335125],
       [ 2.98608592],
       [ 6.76283114],
       [ 9.37290945],
       [ 1.39633881],
       [20.80311258],
       [12.33983945],
       [13.88030874],
       [ 1.31408594],
       [11.80529785],
       [ 6.26972157],
       [ 6.27204829],
       [ 1.56443338],
       [ 3.15374914],
       [ 3.9791884 ],
       [ 5.60211133],
       [ 8.8963296 ],
       [ 8.00280825],
       [ 5.69624334],
       [12.77506493],
       [ 1.18282631],
       [ 2.15129712],
       [ 1.12528136],
       [ 1.08952012],
       [ 7.1016011 ],
       [ 5.66532854],
       [ 3.91896758],
       [ 2.49296539],
       [-0.92536429],
       [ 6.25101863],
       [ 0.89218769],
       [19.9142239 ],
       [ 7.03234914],
       [ 4.41376939],
       [ 9.99056028],
       [ 2.71152658],
       [ 2.94228158],
       [16.63495587],
       [ 4.76459251],
       [ 4.94210527],
       [ 1.62636908],
       [ 6.48509665],
       [ 6.77143518],
       [10.69314795],
       [20.40128246],
       [ 0.5118992 ],
       [ 1.47672396],
       [ 5.87299215],
       [15.82306156],
       [ 4.14169608],
       [12.63555229],
       [ 2.63876462],
       [ 2.62537674],
       [10.72944721],
       [12.10323765],
       [12.04522702],
       [ 3.2943334 ],
       [18.2782779 ],
       [11.24261823],
       [ 6.1552796 ],
       [ 1.1218667 ],
       [ 4.68482153],
       [13.65432246],
       [ 0.64012538],
       [ 4.50186718],
       [ 0.42711415],
       [ 0.77437153],
       [10.75063007],
       [ 3.11332108],
       [ 2.01375815],
       [ 0.6049786 ],
       [23.18749929],
       [13.56013314],
       [ 2.77795249],
       [ 2.50608597],
       [11.93321254],
       [19.53048298],
       [ 0.27022343],
       [ 6.13421356],
       [17.39270886],
       [ 9.32228497],
       [14.06394888],
       [18.92134769],
       [ 1.4792392 ],
       [ 3.895441  ],
       [ 3.94032307],
       [16.18371387],
       [12.04522702],
       [ 6.31078458],
       [ 2.57104941],
       [15.48121208],
       [ 9.79467871],
       [ 2.20204192],
       [ 5.51202561],
       [ 8.96666963],
       [ 3.88954849],
       [16.21333414],
       [ 2.72186627],
       [ 7.95405715],
       [ 2.56788057],
       [ 3.99543373],
       [ 7.25072877],
       [ 4.02248672],
       [ 3.11583021],
       [ 7.77517532],
       [ 7.34057338],
       [ 2.15047543],
       [ 4.82949735],
       [14.04253263],
       [11.45191794],
       [ 1.58375943],
       [ 6.8369605 ],
       [19.85478088],
       [ 2.90291224],
       [ 8.0356963 ],
       [ 4.04580458],
       [14.33556177],
       [ 8.48167848],
       [10.24435994],
       [ 0.55782794],
       [ 1.58413261],
       [ 8.9891691 ],
       [10.20848486],
       [ 1.97591011],
       [ 3.10776777],
       [ 2.88885339],
       [ 7.91078291],
       [ 1.36262137],
       [12.89048358],
       [ 1.8922631 ],
       [ 3.7111419 ],
       [17.5749119 ],
       [ 8.96666963],
       [12.92829703],
       [ 1.08877479],
       [10.04738572],
       [13.17191311],
       [11.42676648]])

In [45]:
print(min(y_test.level))
print(max(y_test.level))

-1
21