# Analysis of items column
### subcolumn: system

Load bestiaries

In [1]:
import pathlib
import pandas as pd
from training.analysis_functions import (
    get_merged_bestiaries,
    unpack_column_with_null,
    unpack_column,
)


DATASETS_DIR = "../../pathfinder_2e_data/"
DATASET_FILES = [
    "pathfinder-bestiary.db",
    "pathfinder-bestiary-2.db",
    "pathfinder-bestiary-3.db",
]
DATASET_PATHS = [f"{DATASETS_DIR}/{file}" for file in DATASET_FILES]

bestiary = get_merged_bestiaries(DATASET_PATHS)

In [2]:
bestiary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1206 entries, 0 to 1205
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   _id             1206 non-null   object
 1   img             1206 non-null   object
 2   items           1206 non-null   object
 3   name            1206 non-null   object
 4   system          1206 non-null   object
 5   type            1206 non-null   object
 6   flags           1206 non-null   object
 7   prototypeToken  85 non-null     object
dtypes: object(8)
memory usage: 75.5+ KB

In [3]:
bestiary.head()

,_id,img,items,name,system,type,flags,prototypeToken
0,024PqcF8yMRBrPuq,systems/pf2e/icons/default-icons/npc.svg,"[{'_id': 'B7rzf0nBJmzg8x0y', 'img': 'systems/p...",Adult White Dragon,"{'abilities': {'cha': {'mod': 1}, 'con': {'mod...",npc,{'core': {'sourceId': 'Compendium.pf2e.pathfin...,NaN
1,05E3kkjoLZVjFOeO,systems/pf2e/icons/default-icons/npc.svg,"[{'_id': 'mYNDkS27YQRyy1F0', 'img': 'systems/p...",Brontosaurus,"{'abilities': {'cha': {'mod': 1}, 'con': {'mod...",npc,{'core': {'sourceId': 'Compendium.pf2e.pathfin...,NaN
2,05wwpHHsBlxBbdkN,systems/pf2e/icons/default-icons/npc.svg,"[{'_id': 'WkPeg600zGONsuJz', 'img': 'systems/p...",Giant Anaconda,"{'abilities': {'cha': {'mod': -2}, 'con': {'mo...",npc,{'core': {'sourceId': 'Compendium.pf2e.pathfin...,NaN
3,0FGz2eXm0SB04sJW,systems/pf2e/icons/default-icons/npc.svg,"[{'_id': 'joBYS96mXSnZC1WB', 'img': 'systems/p...",Ancient Green Dragon,"{'abilities': {'cha': {'mod': 6}, 'con': {'mod...",npc,{'core': {'sourceId': 'Compendium.pf2e.pathfin...,NaN
4,0HjVFx8qIKDCfblg,systems/pf2e/icons/default-icons/npc.svg,"[{'_id': 'xlUnQcjrxeMXu5Cd', 'img': 'systems/p...",Lantern Archon,"{'abilities': {'cha': {'mod': 1}, 'con': {'mod...",npc,{'core': {'sourceId': 'Compendium.pf2e.pathfin...,NaN

*items* column have lists of items for each monster in bestiaries

Collect a list of all items in bestiaries:

In [4]:
items_data = []
for _, val in bestiary["items"].iteritems():
    items_data += val

In [5]:
print(
    f"All items in 3 basic bestiaries: {len(items_data)} - chance that they are not unique"
)

All items in 3 basic bestiaries: 21731 - chance that they are not unique

In [6]:
items = pd.DataFrame.from_dict(data=items_data)  # load data to DataFrame

In [7]:
items.info()  # info about items data structure

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21731 entries, 0 to 21730
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   _id     21731 non-null  object
 1   img     21731 non-null  object
 2   name    21731 non-null  object
 3   sort    21731 non-null  int64
 4   system  21731 non-null  object
 5   type    21731 non-null  object
 6   flags   10037 non-null  object
dtypes: int64(1), object(6)
memory usage: 1.2+ MB

In [8]:
items.head()  # 5 first items

,_id,img,name,sort,system,type,flags
0,B7rzf0nBJmzg8x0y,systems/pf2e/icons/default-icons/spellcastingE...,Arcane Innate Spells,100000,"{'autoHeightenLevel': {'value': None}, 'descri...",spellcastingEntry,NaN
1,ac9hRct9QTDrzhy1,systems/pf2e/icons/spells/obscuring-mist.webp,Obscuring Mist (At Will),200000,"{'ability': {'value': ''}, 'area': {'type': 'b...",spell,{'core': {'sourceId': 'Compendium.pf2e.spells-...
2,ui2iVt9gJcMIs6H5,systems/pf2e/icons/spells/gust-of-wind.webp,Gust of Wind (At Will),300000,"{'ability': {'value': ''}, 'area': {'type': 'l...",spell,{'core': {'sourceId': 'Compendium.pf2e.spells-...
3,pmqefsGShf77p3Zd,systems/pf2e/icons/default-icons/melee.svg,Jaws,400000,"{'attack': {'value': ''}, 'attackEffects': {'c...",melee,NaN
4,h6wQ76GXx0XhL0rW,systems/pf2e/icons/default-icons/melee.svg,Claw,500000,"{'attack': {'value': ''}, 'attackEffects': {'c...",melee,NaN

## System

In [9]:
system = unpack_column(items, column_name="system")

In [10]:
system.head()

,autoHeightenLevel,description,displayLevels,prepared,proficiency,rules,showSlotlessLevels,showUnpreparedSpells,slots,slug,...,unidentified,areatype,brokenThreshold,bulkCapacity,collapsed,identification,identified,invested,maxHp,stowing
0,{'value': None},{'value': ''},{},"{'flexible': False, 'value': 'innate'}",{'value': 0},[],{'value': False},{'value': True},"{'slot0': {'max': 0, 'prepared': [], 'value': ...",None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,{'value': '<p>You call forth a cloud of mist. ...,NaN,{'value': ''},NaN,[],NaN,NaN,NaN,obscuring-mist,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,{'value': '<p>A violent wind issues forth from...,NaN,{'value': ''},NaN,[],NaN,NaN,NaN,gust-of-wind,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,{'value': ''},NaN,NaN,NaN,[],NaN,NaN,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,{'value': ''},NaN,NaN,NaN,[],NaN,NaN,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
system.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21731 entries, 0 to 21730
Columns: 109 entries, autoHeightenLevel to stowing
dtypes: float64(1), object(108)
memory usage: 18.1+ MB

In [12]:
# 109 columns

### autoHeightenLevel

In [13]:
aHL = unpack_column_with_null(system, column_name="autoHeightenLevel")

In [14]:
aHL.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21731 entries, 0 to 21730
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   value   86 non-null     float64
dtypes: float64(1)
memory usage: 339.5 KB

In [15]:
aHL.value.value_counts()

4.0     20
3.0     11
5.0     11
6.0     11
7.0      9
8.0      8
2.0      7
9.0      6
1.0      2
10.0     1
Name: value, dtype: int64

In [16]:
items[aHL.value.notnull()].type.value_counts()

spellcastingEntry    86
Name: type, dtype: int64

In [17]:
items[items.type == "spellcastingEntry"]

,_id,img,name,sort,system,type,flags
0,B7rzf0nBJmzg8x0y,systems/pf2e/icons/default-icons/spellcastingE...,Arcane Innate Spells,100000,"{'autoHeightenLevel': {'value': None}, 'descri...",spellcastingEntry,NaN
46,joBYS96mXSnZC1WB,systems/pf2e/icons/default-icons/spellcastingE...,Arcane Innate Spells,100000,"{'autoHeightenLevel': {'value': None}, 'descri...",spellcastingEntry,NaN
78,xlUnQcjrxeMXu5Cd,systems/pf2e/icons/default-icons/spellcastingE...,Divine Innate Spells,100000,"{'autoHeightenLevel': {'value': None}, 'descri...",spellcastingEntry,NaN
92,pdwlm8jY2MDoJUAN,systems/pf2e/icons/default-icons/spellcastingE...,Arcane Spontaneous Spells,100000,"{'autoHeightenLevel': {'value': None}, 'descri...",spellcastingEntry,NaN
93,FReUvGRM1Bo8CeGZ,systems/pf2e/icons/default-icons/spellcastingE...,Occult Innate Spells,200000,"{'autoHeightenLevel': {'value': None}, 'descri...",spellcastingEntry,NaN
...,...,...,...,...,...,...,...
21638,kBmOKMaUjcEjTeia,systems/pf2e/icons/default-icons/spellcastingE...,Occult Innate Spells,100000,"{'autoHeightenLevel': {'value': None}, 'descri...",spellcastingEntry,NaN
21670,Re0uYYA9c4nnaRne,systems/pf2e/icons/default-icons/spellcastingE...,Primal Innate Spells,100000,"{'autoHeightenLevel': {'value': None}, 'descri...",spellcastingEntry,NaN
21693,p3v8D49u0adS76qw,systems/pf2e/icons/default-icons/spellcastingE...,Divine Innate Spells,100000,"{'autoHeightenLevel': {'value': None}, 'descri...",spellcastingEntry,NaN
21710,53ZHZQrxzfyMUm3s,systems/pf2e/icons/default-icons/spellcastingE...,Occult Innate Spells,100000,"{'autoHeightenLevel': {'value': None}, 'descri...",spellcastingEntry,NaN
21711,pkmr68rFCQdo9nId,systems/pf2e/icons/default-icons/spellcastingE...,Rituals,200000,"{'autoHeightenLevel': {'value': None}, 'descri...",spellcastingEntry,NaN

In [18]:
items[aHL.value.isnull()][items.type != "spellcastingEntry"]

C:\Users\jolka\AppData\Local\Temp\ipykernel_9472\4227473434.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  items[aHL.value.isnull()][items.type != "spellcastingEntry"]

,_id,img,name,sort,system,type,flags
1,ac9hRct9QTDrzhy1,systems/pf2e/icons/spells/obscuring-mist.webp,Obscuring Mist (At Will),200000,"{'ability': {'value': ''}, 'area': {'type': 'b...",spell,{'core': {'sourceId': 'Compendium.pf2e.spells-...
2,ui2iVt9gJcMIs6H5,systems/pf2e/icons/spells/gust-of-wind.webp,Gust of Wind (At Will),300000,"{'ability': {'value': ''}, 'area': {'type': 'l...",spell,{'core': {'sourceId': 'Compendium.pf2e.spells-...
3,pmqefsGShf77p3Zd,systems/pf2e/icons/default-icons/melee.svg,Jaws,400000,"{'attack': {'value': ''}, 'attackEffects': {'c...",melee,NaN
4,h6wQ76GXx0XhL0rW,systems/pf2e/icons/default-icons/melee.svg,Claw,500000,"{'attack': {'value': ''}, 'attackEffects': {'c...",melee,NaN
5,b4GFgu6HgDqvji6X,systems/pf2e/icons/default-icons/melee.svg,Tail,600000,"{'attack': {'value': ''}, 'attackEffects': {'c...",melee,NaN
...,...,...,...,...,...,...,...
21726,FJEaQqHttC6Z3MP3,systems/pf2e/icons/actions/Passive.webp,Sneak Attack,1700000,"{'actionCategory': {'value': 'offensive'}, 'ac...",action,{'core': {'sourceId': 'Compendium.pf2e.bestiar...
21727,dXxtpW4U3D5id6mQ,systems/pf2e/icons/default-icons/lore.svg,Arcana,1800000,"{'description': {'value': ''}, 'mod': {'value'...",lore,NaN
21728,ogH259ZTMG3DAdRL,systems/pf2e/icons/default-icons/lore.svg,Intimidation,1900000,"{'description': {'value': ''}, 'mod': {'value'...",lore,NaN
21729,dCGRUpbXAHrLczgs,systems/pf2e/icons/default-icons/lore.svg,Occultism,2000000,"{'description': {'value': ''}, 'mod': {'value'...",lore,NaN
21730,vRINsQt7kOgbqixu,systems/pf2e/icons/default-icons/lore.svg,Stealth,2100000,"{'description': {'value': ''}, 'mod': {'value'...",lore,NaN

=> *autoHeightenLevel* - probobly parameter only for **spellcastingEntry**

There are spellcastingEntry with None value for autoHeightenLevel (but they have this parameter 'autoHeightenLevel': {'value': None})

There are no items with different type and value of autoHeightenLevel

*not that important*

In [19]:
system.drop(["autoHeightenLevel"], axis="columns", inplace=True)

### description

In [20]:
description = unpack_column_with_null(system, column_name="description")

In [21]:
description.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21731 entries, 0 to 21730
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   value   21731 non-null  object
dtypes: object(1)
memory usage: 339.5+ KB

In [22]:
description.head()

                                               value
0
1  <p>You call forth a cloud of mist. All creatur...
2  <p>A violent wind issues forth from your palm,...
3
4

In [23]:
str(description.iloc[1, 0])

'<p>You call forth a cloud of mist. All creatures within the mist become @UUID[Compendium.pf2e.conditionitems.DmAIPqOBomZ7H95W]{Concealed}, and all creatures outside the mist become Concealed to creatures within it. You can Dismiss the cloud.</p>'

In [24]:
description.value.value_counts()

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         8538
<p>@Localize[PF2E.NPC.Abilities.Glossary.Darkvision]</p>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  810
<p>@Localize[PF2E.NPC.Abilities.Glossary.Scent]</p>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       306
<p>@Localize[PF2E.NPC.Abilities.Glossary.AtWillSpells]</p>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                291
<p>@Localize[PF2E.NPC.Abilities.Glossary.LowLightVision]</p>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              233
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         ...
<p>[[/r (1d6+4)[bludgeoning]]] damage, @Check[type:fortitude|dc:20|basic:true]</p>\n<hr />\n<p>@Localize[PF2E.NPC.Abilities.Glossary.Constrict]</p>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         1
<p><strong>Saving Throw</strong> @Check[type:fortitude|dc:18|basic:true]</p>\n<hr />\n<p><strong>Maximum Duration</strong> 6 rounds</p>\n<p><strong>Stage 1</strong> [[/r 1d10[poison]]] damage and @UUID[Compendium.pf2e.conditionitems.MIRkyAjyBeXivMa7]{Enfeebled 1} (1 round)</p>\n<p><strong>Stage 2</strong> [[/r 2d10[poison]]] damage and enfeebled 1 (1 round)</p>\n<p><strong>Stage 3</strong> [[/r 2d10[poison]]] damage and @UUID[Compendium.pf2e.conditionitems.MIRkyAjyBeXivMa7]{Enfeebled 2} (1 round)</p>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   1
<p>Lemures have little drive of their own, but other devils can take command of them. A non-lemure devil can issue a command to all lemures within 60 feet of it with a single action, which has the auditory and concentrate traits. The devil picks one of the following orders lemures can understand, and the lemures follow that order. The command and its effects end once the commander is out of the lemure's sight, a new command is issued by the same or another devil, or the lemure dies.</p>\n<ul>\n<li><strong>Kill</strong> The lemure attacks one target the commander singles out and gains a +1 circumstance bonus to attack rolls against the target.</li>\n<li><strong>Defend</strong> The lemure circles the commander and attacks any creature that comes near. It gains a +1 circumstance bonus to AC and saves.</li>\n<li><strong>Fetch</strong> The lemure gains a +10-foot circumstance bonus to its Speed and attempts to get an object or person the commander singles out. It attacks anyone and anything that gets in the way.</li>\n<li><strong>Work</strong> The lemure performs drudge work dictated by the commander.</li>\n</ul>       1
<p>The living wildfire ignores the @UUID[Compendium.pf2e.conditionitems.DmAIPqOBomZ7H95W]{Concealed} condition from smoke.</p>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              1
<p>The caller deals an additional 2d6 precision damage to flat-footed creatures.</p>\n<hr />\n<p>@Localize[PF2E.NPC.Abilities.Glossary.SneakAttack]</p>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     1
Name: value, Length: 4372, dtype: int64

description

*I hope it is not important*
*Analysis in other notebook*

In [25]:
system.drop(["description"], axis="columns", inplace=True)

### displayLevels

In [26]:
dL = unpack_column(system, column_name="displayLevels")

In [27]:
dL.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21731 entries, 0 to 21730
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       0 non-null      float64
 1   0       54 non-null     object
 2   1       54 non-null     object
 3   2       49 non-null     object
 4   3       45 non-null     object
 5   4       41 non-null     object
 6   5       35 non-null     object
 7   6       25 non-null     object
 8   7       18 non-null     object
 9   8       13 non-null     object
 10  9       8 non-null      object
 11  10      3 non-null      object
dtypes: float64(1), object(11)
memory usage: 2.0+ MB

In [28]:
system.displayLevels[system.displayLevels.notnull()]

0        {}
46       {}
78       {}
92       {}
93       {}
         ..
21638    {}
21670    {}
21693    {}
21710    {}
21711    {}
Name: displayLevels, Length: 782, dtype: object

In [29]:
import numpy as np


# system.loc[system.displayLevels == {}] = np.nan
system.loc[system.displayLevels == {}].displayLevels = np.nan
dL = unpack_column(system[system.displayLevels.notnull()], column_name="displayLevels")

C:\Users\jolka\AppData\Local\Temp\ipykernel_9472\1271681069.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  system.loc[system.displayLevels == {}].displayLevels = np.nan

In [30]:
dL.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 782 entries, 0 to 21711
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       54 non-null     object
 1   1       54 non-null     object
 2   2       49 non-null     object
 3   3       45 non-null     object
 4   4       41 non-null     object
 5   5       35 non-null     object
 6   6       25 non-null     object
 7   7       18 non-null     object
 8   8       13 non-null     object
 9   9       8 non-null      object
 10  10      3 non-null      object
dtypes: object(11)
memory usage: 73.3+ KB

In [31]:
dL.head()

      0    1    2    3    4    5    6    7    8    9   10
0   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
46  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
78  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
92  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
93  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

In [32]:
dL

         0    1    2    3    4    5    6    7    8    9   10
0      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
46     NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
78     NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
92     NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
93     NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
...    ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
21638  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
21670  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
21693  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
21710  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
21711  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

[782 rows x 11 columns]

Just a dict containing more or less True/False values

In [33]:
system.drop(["displayLevels"], axis="columns", inplace=True)

### prepared

In [34]:
prepared = unpack_column_with_null(system, column_name="prepared")

In [35]:
prepared.head()

  flexible   value
0    False  innate
1      NaN
2      NaN
3      NaN     NaN
4      NaN     NaN

In [36]:
prepared = prepared.replace("", np.nan)
prepared.head()

  flexible   value
0    False  innate
1      NaN     NaN
2      NaN     NaN
3      NaN     NaN
4      NaN     NaN

In [37]:
prepared.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21731 entries, 0 to 21730
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   flexible  621 non-null    object
 1   value     792 non-null    object
dtypes: object(2)
memory usage: 509.3+ KB

In [38]:
prepared[prepared.value.notnull()]

      flexible        value
0        False       innate
46       False       innate
78         NaN       innate
92       False  spontaneous
93       False       innate
...        ...          ...
21638    False       innate
21670      NaN       innate
21693    False       innate
21710    False       innate
21711    False       ritual

[792 rows x 2 columns]

In [39]:
prepared[prepared.value == "prepared"]

      flexible     value
161      False  prepared
282      False  prepared
577      False  prepared
794      False  prepared
1303     False  prepared
...        ...       ...
19646    False  prepared
19917    False  prepared
20581    False  prepared
20984    False  prepared
21152    False  prepared

[82 rows x 2 columns]

In [40]:
items[prepared.value == "prepared"].type.value_counts()

spellcastingEntry    82
Name: type, dtype: int64

In [41]:
items[prepared.value == False].type.value_counts()

spell    10
Name: type, dtype: int64

If prepared.value == "prepared" <=> prepared.flexible == False. There are also cases where prepared is just an empty dict or prepared.value == False

At least here

* prepared.value == "prepared" only for spellcastingEntry
* prepared.value == False only for spells

In [42]:
system.drop(["prepared"], axis="columns", inplace=True)

### proficiency

In [43]:
proficiency = unpack_column(
    system[system.proficiency.notnull()], column_name="proficiency"
)

In [44]:
proficiency.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 782 entries, 0 to 21711
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   value   782 non-null    int64
dtypes: int64(1)
memory usage: 12.2 KB

In [45]:
proficiency.head()

    value
0       0
46      0
78      0
92      0
93      0

In [46]:
proficiency.value.value_counts()

0    481
1    301
Name: value, dtype: int64

In [47]:
items.loc[proficiency[proficiency.value == 0].index].type.value_counts()

spellcastingEntry    481
Name: type, dtype: int64

In [48]:
items.loc[proficiency[proficiency.value == 1].index].type.value_counts()

spellcastingEntry    301
Name: type, dtype: int64

proficiency is another parameter that appears only for *spellcastingEntry*

In [49]:
system.drop(["proficiency"], axis="columns", inplace=True)

### rules

In [50]:
# only not null and without empty lists
system.rules = system.rules.apply(
    lambda x: np.nan if (type(x) == list and len(x) == 0) else x
)
rules = system.rules[system.rules.notnull()]

In [51]:
rules.info()

<class 'pandas.core.series.Series'>
Int64Index: 1497 entries, 8 to 21726
Series name: rules
Non-Null Count  Dtype
--------------  -----
1497 non-null   object
dtypes: object(1)
memory usage: 23.4+ KB

In [52]:
rules.head()

8     [{'key': 'FlatModifier', 'predicate': [{'or': ...
9     [{'key': 'Aura', 'radius': 5, 'slug': 'dragon-...
11    [{'key': 'Aura', 'radius': 90, 'slug': 'fright...
14    [{'key': 'Note', 'outcome': ['criticalSuccess'...
57    [{'key': 'Note', 'predicate': ['action:hide', ...
Name: rules, dtype: object

Analysis maybe (?) in other notebook

In [53]:
system.drop(["rules"], axis="columns", inplace=True)

### showSlotlessLevels

In [54]:
showSlotlessLevels = unpack_column(
    system[system.showSlotlessLevels.notnull()], column_name="showSlotlessLevels"
)

In [55]:
showSlotlessLevels.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 782 entries, 0 to 21711
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   value   782 non-null    bool
dtypes: bool(1)
memory usage: 6.9 KB

In [56]:
showSlotlessLevels.head()

    value
0   False
46  False
78  False
92  False
93  False

In [57]:
showSlotlessLevels.value.value_counts()

False    497
True     285
Name: value, dtype: int64

In [58]:
items.loc[showSlotlessLevels.index].type.value_counts()

spellcastingEntry    782
Name: type, dtype: int64

It is a spellcastingEntry attribute. Only boolean values

In [59]:
system.drop(["showSlotlessLevels"], axis="columns", inplace=True)

### showUnpreparedSpells

In [60]:
showUnpreparedSpells = unpack_column(
    system[system.showUnpreparedSpells.notnull()], column_name="showUnpreparedSpells"
)

In [61]:
showUnpreparedSpells.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 782 entries, 0 to 21711
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   value   782 non-null    bool
dtypes: bool(1)
memory usage: 6.9 KB

In [62]:
showUnpreparedSpells.head()

    value
0    True
46   True
78   True
92   True
93   True

In [63]:
showUnpreparedSpells.value.value_counts()

False    516
True     266
Name: value, dtype: int64

In [64]:
items.loc[showUnpreparedSpells.index].type.value_counts()

spellcastingEntry    782
Name: type, dtype: int64

It is a spellcastingEntry attribute. Only boolean values

In [65]:
system.drop(["showUnpreparedSpells"], axis="columns", inplace=True)

### slots

In [66]:
slots = unpack_column(system[system.slots.notnull()], column_name="slots")

In [67]:
slots.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 782 entries, 0 to 21711
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   slot0   782 non-null    object
 1   slot1   782 non-null    object
 2   slot10  782 non-null    object
 3   slot11  782 non-null    object
 4   slot2   782 non-null    object
 5   slot3   782 non-null    object
 6   slot4   782 non-null    object
 7   slot5   782 non-null    object
 8   slot6   782 non-null    object
 9   slot7   782 non-null    object
 10  slot8   782 non-null    object
 11  slot9   782 non-null    object
dtypes: object(12)
memory usage: 79.4+ KB

In [68]:
slots.head()

,slot0,slot1,slot10,slot11,slot2,slot3,slot4,slot5,slot6,slot7,slot8,slot9
0,"{'max': 0, 'prepared': [], 'value': 0}","{'max': 0, 'prepared': [], 'value': 0}","{'max': 0, 'prepared': [], 'value': 0}","{'max': 0, 'prepared': [], 'value': 0}","{'max': 0, 'prepared': [], 'value': 0}","{'max': 0, 'prepared': [], 'value': 0}","{'max': 0, 'prepared': [], 'value': 0}","{'max': 0, 'prepared': [], 'value': 0}","{'max': 0, 'prepared': [], 'value': 0}","{'max': 0, 'prepared': [], 'value': 0}","{'max': 0, 'prepared': [], 'value': 0}","{'max': 0, 'prepared': [], 'value': 0}"
46,"{'max': 0, 'prepared': [], 'value': 0}","{'max': 0, 'prepared': [], 'value': 0}","{'max': 0, 'prepared': [], 'value': 0}","{'max': 0, 'prepared': [], 'value': 0}","{'max': 0, 'prepared': [], 'value': 0}","{'max': 0, 'prepared': [], 'value': 0}","{'max': 0, 'prepared': [], 'value': 0}","{'max': 0, 'prepared': [], 'value': 0}","{'max': 0, 'prepared': [], 'value': 0}","{'max': 0, 'prepared': [], 'value': 0}","{'max': 0, 'prepared': [], 'value': 0}","{'max': 0, 'prepared': [], 'value': 0}"
78,"{'max': 0, 'prepared': [], 'value': 0}","{'max': 0, 'prepared': [], 'value': 0}","{'max': 0, 'prepared': [], 'value': 0}","{'max': 0, 'prepared': [], 'value': 0}","{'max': 0, 'prepared': [], 'value': 0}","{'max': 0, 'prepared': [], 'value': 0}","{'max': 0, 'prepared': [], 'value': 0}","{'max': 0, 'prepared': [], 'value': 0}","{'max': 0, 'prepared': [], 'value': 0}","{'max': 0, 'prepared': [], 'value': 0}","{'max': 0, 'prepared': [], 'value': 0}","{'max': 0, 'prepared': [], 'value': 0}"
92,"{'max': 0, 'prepared': [], 'value': 0}","{'max': 4, 'prepared': [], 'value': 4}","{'max': 0, 'prepared': [], 'value': 0}","{'max': 0, 'prepared': [], 'value': 0}","{'max': 4, 'prepared': [], 'value': 4}","{'max': 4, 'prepared': [], 'value': 4}","{'max': 3, 'prepared': [], 'value': 3}","{'max': 0, 'prepared': [], 'value': 0}","{'max': 0, 'prepared': [], 'value': 0}","{'max': 0, 'prepared': [], 'value': 0}","{'max': 0, 'prepared': [], 'value': 0}","{'max': 0, 'prepared': [], 'value': 0}"
93,"{'max': 0, 'prepared': [], 'value': 0}","{'max': 0, 'prepared': [], 'value': 0}","{'max': 0, 'prepared': [], 'value': 0}","{'max': 0, 'prepared': [], 'value': 0}","{'max': 0, 'prepared': [], 'value': 0}","{'max': 0, 'prepared': [], 'value': 0}","{'max': 0, 'prepared': [], 'value': 0}","{'max': 0, 'prepared': [], 'value': 0}","{'max': 0, 'prepared': [], 'value': 0}","{'max': 0, 'prepared': [], 'value': 0}","{'max': 0, 'prepared': [], 'value': 0}","{'max': 0, 'prepared': [], 'value': 0}"

Analysis in other notebook

In [69]:
system.drop(["slots"], axis="columns", inplace=True)

### slug

In [70]:
slug = system.slug[system.slug.notnull()]

In [71]:
slug.value_counts()

darkvision                        810
scent                             306
at-will-spells                    291
low-light-vision                  233
1-status-to-all-saves-vs-magic    216
                                 ...
skrik-nettle-venom                  1
ghoul-fever                         1
ogre-spider-venom                   1
lich-rejuvenation                   1
owb-pact                            1
Name: slug, Length: 928, dtype: int64

In [72]:
items.loc[slug.index].type.value_counts()

spell         5148
action        4198
weapon         375
armor          120
consumable      95
equipment       35
condition       11
effect           5
melee            2
treasure         1
lore             1
backpack         1
Name: type, dtype: int64

**Can be useful**

In [73]:
system.drop(["slug"], axis="columns", inplace=True)

### source

In [74]:
source = unpack_column(system[system.source.notnull()], column_name="source")

In [75]:
source.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21731 entries, 0 to 21730
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   value   21731 non-null  object
dtypes: object(1)
memory usage: 339.5+ KB

In [76]:
source.head()

                      value
0
1  Pathfinder Core Rulebook
2  Pathfinder Core Rulebook
3
4

In [77]:
source.value = source.value.replace("", np.nan)

In [78]:
source.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21731 entries, 0 to 21730
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   value   8347 non-null   object
dtypes: object(1)
memory usage: 339.5+ KB

In [79]:
source.value.value_counts()

Pathfinder Core Rulebook              4665
Pathfinder Bestiary                   3534
Pathfinder Bestiary 2                   85
Pathfinder Bestiary 3                   43
Pathfinder Advanced Player's Guide      11
Pathfinder Secrets of Magic              9
Name: value, dtype: int64

It is just info about **source**

In [80]:
system.drop(["source"], axis="columns", inplace=True)

### spelldc

In [81]:
spelldc = unpack_column(system[system.spelldc.notnull()], column_name="spelldc")

In [82]:
spelldc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 782 entries, 0 to 21711
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   dc      782 non-null    float64
 1   mod     660 non-null    float64
 2   value   782 non-null    float64
 3   item    56 non-null     float64
dtypes: float64(4)
memory usage: 30.5 KB

In [83]:
spelldc.head()

      dc  mod  value  item
0   27.0  0.0   19.0   NaN
46  39.0  0.0   31.0   NaN
78  17.0  0.0    9.0   NaN
92  26.0  0.0   18.0   NaN
93  25.0  0.0   17.0   NaN

In [84]:
spelldc.dc.value_counts()

17.0    45
26.0    40
29.0    39
23.0    39
28.0    38
37.0    36
33.0    33
25.0    32
21.0    32
42.0    31
36.0    30
18.0    28
32.0    26
27.0    26
20.0    26
24.0    25
30.0    24
38.0    24
34.0    24
40.0    18
35.0    18
16.0    18
46.0    17
22.0    15
19.0    14
41.0    14
31.0    14
43.0    10
44.0    10
39.0     9
15.0     7
47.0     4
14.0     4
13.0     3
48.0     3
49.0     2
45.0     2
12.0     1
0.0      1
Name: dc, dtype: int64

In [85]:
spelldc["mod"].value_counts()

0.0    660
Name: mod, dtype: int64

In [86]:
spelldc.value.value_counts()

18.0    42
9.0     38
24.0    37
20.0    35
15.0    34
19.0    32
13.0    32
21.0    31
8.0     31
32.0    30
17.0    30
30.0    30
12.0    27
25.0    26
29.0    26
28.0    25
26.0    25
16.0    23
27.0    21
11.0    20
10.0    18
34.0    18
22.0    18
38.0    17
14.0    17
23.0    16
7.0     15
36.0    14
33.0    12
35.0    10
31.0    10
6.0      5
5.0      4
37.0     4
40.0     3
39.0     2
41.0     1
4.0      1
43.0     1
0.0      1
Name: value, dtype: int64

In [87]:
items.loc[spelldc.index].type.value_counts()

spellcastingEntry    782
Name: type, dtype: int64

Properity of spellcasting items.

*"DC Stands for Difficulty Class, and it represents the difficulty in either resisting, avoiding, or succumbing to the effects of a spell. When a spell lists in its descriptions that it requires a "Reflex Save for half" or a "Fort Negates" it means that a Save against the Spells DC must be rolled to avoid the effects of the spell.*

*To calculate your Spell DC use the following Formula:*

*Spell DC = 10 + Spell Level + Primary Casting modifier ( INT for Psions and Wizards, CHA for Sorcerer's and Bards, WIS for Druids and Clerics )"*


**Can be useful**

In [88]:
system.drop(["spelldc"], axis="columns", inplace=True)

### tradition

In [89]:
tradition = unpack_column(system[system.tradition.notnull()], column_name="tradition")

In [90]:
tradition.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 782 entries, 0 to 21711
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   value   782 non-null    object
dtypes: object(1)
memory usage: 12.2+ KB

In [91]:
tradition.head()

     value
0   arcane
46  arcane
78  divine
92  arcane
93  occult

In [92]:
tradition.value_counts()

value
divine    206
primal    174
arcane    148
occult    146
          108
dtype: int64

In [93]:
items.loc[tradition.index].type.value_counts()

spellcastingEntry    782
Name: type, dtype: int64

*"Spellcasters cast spells from one of four different spell lists, each representing a different magical tradition: arcane, divine, occult, and primal.*

*Your class determines which tradition of magic your spells use. In some cases, such as when a cleric gains spells from their deity or when a sorcerer gets spells from their bloodline, you might be able to cast spells from a different spell list. In these cases, the spell uses your magic tradition, not the list the spell normally comes from. When you cast a spell, add your tradition’s trait to the spell.*

*Some types of magic, such as that of most magic items, don’t belong to any single tradition. These have the magical trait instead of a tradition trait."*

In [94]:
system.drop(["tradition"], axis="columns", inplace=True)

### schema

In [95]:
schema = unpack_column(system[system.schema.notnull()], column_name="schema")

In [96]:
schema.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21731 entries, 0 to 21730
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   version        21731 non-null  float64
 1   lastMigration  0 non-null      float64
dtypes: float64(2)
memory usage: 509.3 KB

In [97]:
schema.head()

   version  lastMigration
0    0.827            NaN
1    0.827            NaN
2    0.827            NaN
3    0.827            NaN
4    0.827            NaN

In [98]:
schema.version.value_counts()

0.827    21731
Name: version, dtype: int64

In [99]:
schema.lastMigration.value_counts()  # only NaN

Series([], Name: lastMigration, dtype: int64)

In [100]:
items.loc[schema.index].type.value_counts()

action               7691
spell                5150
lore                 5007
melee                2419
spellcastingEntry     782
weapon                375
armor                 121
consumable            103
equipment              62
condition              11
effect                  5
treasure                4
backpack                1
Name: type, dtype: int64

* version - same for each item with this val
* lastMigration - only NaN

*Not important*

In [101]:
system.drop(["schema"], axis="columns", inplace=True)

### ability

In [102]:
ability = unpack_column(system[system.ability.notnull()], "ability")

In [103]:
ability.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5150 entries, 1 to 21719
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   value   5150 non-null   object
dtypes: object(1)
memory usage: 80.5+ KB

In [104]:
ability.head()

   value
1
2
47
48
49

In [105]:
ability = ability.replace("", np.nan)

In [106]:
ability.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5150 entries, 1 to 21719
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   value   0 non-null      float64
dtypes: float64(1)
memory usage: 80.5 KB

In [107]:
items.loc[ability.index].type.value_counts()

spell    5150
Name: type, dtype: int64

* only NaN values
* for spells only

In [108]:
system.drop(["ability"], axis="columns", inplace=True)

### area

In [109]:
area = unpack_column(system[system.area.notnull()], column_name="area")

In [110]:
area.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1086 entries, 1 to 21719
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   type     1086 non-null   object
 1   value    1086 non-null   int64
 2   details  120 non-null    object
dtypes: int64(1), object(2)
memory usage: 33.9+ KB

In [111]:
area.head()

         type  value                                            details
1       burst     20                                                NaN
2        line     60                                                NaN
49      burst     20  all squares in a 20-foot-radius burst that con...
80  emanation     30                                                NaN
81  emanation     30                                             varies

In [112]:
area.type.value_counts()

burst        551
emanation    381
cone          86
line          68
Name: type, dtype: int64

In [113]:
area.value.value_counts()

30     411
20     281
60     108
10     108
40      40
5       38
50      35
15      31
120     13
100     10
360      9
500      2
Name: value, dtype: int64

In [114]:
area.details.value_counts()

varies                                                       76
all squares in a 20-foot-radius burst that contain plants    24
20-foot burst adjacent to a flat surface                      8
10-foot emanation centered on the touched creature            6
10-foot radius, 40-foot-tall cylinder                         4
30-foot burst centered on you                                 2
Name: details, dtype: int64

In [115]:
items.loc[area.index].type.value_counts()

spell    1086
Name: type, dtype: int64

Spell attributes

**Can be useful**

*"Some effects occupy an area of a specified shape and size. An area effect always has a point of origin and extends out from that point. There are four types of areas: emanations, bursts, cones, and lines. When you’re playing in encounter mode and using a grid, areas are measured in the same way as movement (page 463), but areas’ distances are never reduced or affected by difficult terrain (page 475) or lesser cover (page 476). You can use the diagrams below as common reference templates for areas, rather than measuring squares each time. Many area effects describe only the effects on creatures in the area. The GM determines any effects to the environment and unattended objects."*

In [116]:
system.drop(["area"], axis="columns", inplace=True)

### category

In [117]:
category = unpack_column(system[system.category.notnull()], "category")

In [118]:
category.info()  # 0 column - str instead of dict in system.category column

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5646 entries, 1 to 21720
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   value   5150 non-null   object
 1   0       496 non-null    object
dtypes: object(2)
memory usage: 132.3+ KB

In [119]:
category.head()

    value    0
1   spell  NaN
2   spell  NaN
47  spell  NaN
48  spell  NaN
49  spell  NaN

In [120]:
category.value.value_counts()

spell     4959
ritual     150
focus       41
Name: value, dtype: int64

In [121]:
category[0].value_counts()

martial      234
simple       132
light         44
medium        42
shield        17
heavy         16
advanced       8
unarmored      2
unarmed        1
Name: 0, dtype: int64

In [122]:
items.loc[category[category.value.notnull()].index].type.value_counts()

spell    5150
Name: type, dtype: int64

In [123]:
items.loc[category[category[0].notnull()].index].type.value_counts()

weapon    375
armor     121
Name: type, dtype: int64

Attribute for:
* spells - dict one
* weapon / armor
    *"The armor’s category—unarmored, light armor, medium armor, or heavy armor—indicates which proficiency bonus you use while wearing the armor."*
    *"Weapons fall into broad categories depending on how much damage they deal and what traits they have. Martial weapons generally deal more damage than simple weapons, and advanced weapons generally have more advantageous traits than martial weapons with the same damage. Generally, you’ll want to select weapons that deal more damage, but if you’re a highly skilled combatant, you might want to pick a weapon with interesting traits, even if it has a lower weapon damage die. You can also purchase multiple weapons within your budget, allowing you to switch between them for different situations."*

In [124]:
system.drop(["category"], axis="columns", inplace=True)

### components

In [125]:
components = unpack_column(
    system[system.components.notnull()], column_name="components"
)

In [126]:
components.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5150 entries, 1 to 21719
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   focus     5150 non-null   bool
 1   material  5150 non-null   bool
 2   somatic   5150 non-null   bool
 3   verbal    5150 non-null   bool
dtypes: bool(4)
memory usage: 60.4 KB

In [127]:
components.head()

    focus  material  somatic  verbal
1   False      True     True    True
2   False     False     True    True
47  False     False     True    True
48  False     False     True    True
49  False     False     True    True

In [128]:
items.loc[components.index].type.value_counts()

spell    5150
Name: type, dtype: int64

Spell atribute

*"A spell description lists the components required to Cast the Spell."*

In [129]:
system.drop(["components"], axis="columns", inplace=True)

### cost

In [130]:
cost = unpack_column(system[system.cost.notnull()], column_name="cost")

In [131]:
cost.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5150 entries, 1 to 21719
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   value   5150 non-null   object
dtypes: object(1)
memory usage: 80.5+ KB

In [132]:
cost.head()

   value
1
2
47
48
49

In [133]:
cost.value = cost.value.replace("", np.nan)

In [134]:
cost.value.value_counts()

black onyx, see Table 7-1                                                                                                    11
6 gp of ruby dust                                                                                                             8
reagents to construct the magical prison worth a total value of 800 gp × the target's level                                   6
diamonds worth a total value of 75 gp × the target's level                                                                    6
black sapphire with a gp value of at least the target's level × 100                                                           6
rare incense worth a total value of 60 gp                                                                                     6
rare incense and offerings worth a total value of 20 gp × the target's level                                                  4
rare incense worth a total value of 300 gp                                                                                    4
rare oils worth a total value of 10 gp × the target's level                                                                   4
rare incense and offerings worth a total value of 20 gp × the spell level                                                     4
rare candles and incense worth a total value of 50 gp                                                                         4
herbs, 1/5 the value on Table 7-1                                                                                             3
rare incense and offerings worth a total value of 2 gp × the spell level × the target's level                                 3
faerie circle ingredients worth a total value of 1 gp × the spell level × the target's level                                  3
valuable oils and objects associated with the target worth a total value of 100 gp × the spell level × the target's level     2
1 vial of holy water                                                                                                          2
rare oils, see Table 7-1                                                                                                      1
rare herbs worth a total value of the target's level (minimum 1) × 25 gp                                                      1
rare incense worth a total value of 150 gp                                                                                    1
warding diagram ingredients worth a total value of 2 gp × the spell level × the target's level                                1
Name: value, dtype: int64

In [135]:
items.loc[cost.index].type.value_counts()

spell    5150
Name: type, dtype: int64

Spell atribute

**Not important (?)**

In [136]:
system.drop(["cost"], axis="columns", inplace=True)

### damage

In [137]:
damage = unpack_column(system[system.damage.notnull()], column_name="damage")
damage = damage.replace("", np.nan)

In [138]:
damage.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5525 entries, 1 to 21720
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   value       5150 non-null   object
 1   damageType  376 non-null    object
 2   dice        375 non-null    float64
 3   die         372 non-null    object
dtypes: float64(1), object(3)
memory usage: 215.8+ KB

In [139]:
damage.head()

   value damageType  dice  die
1     {}        NaN   NaN  NaN
2     {}        NaN   NaN  NaN
47    {}        NaN   NaN  NaN
48    {}        NaN   NaN  NaN
49    {}        NaN   NaN  NaN

In [140]:
damage.loc[damage.value == {}] = np.nan

In [141]:
damage.value.value_counts()

{'0': {'applyMod': False, 'type': {'categories': [], 'subtype': '', 'value': 'positive'}, 'value': '1d8'}}    56
{'0': {'applyMod': True, 'type': {'categories': [], 'value': 'mental'}, 'value': '0'}}                        54
{'0': {'applyMod': True, 'type': {'categories': [], 'value': 'fire'}, 'value': '1d4'}}                        26
{'0': {'applyMod': True, 'type': {'categories': [], 'value': 'cold'}, 'value': '1d4'}}                        21
{'0': {'applyMod': True, 'type': {'categories': [], 'value': 'negative'}, 'value': '1d4'}}                    20
                                                                                                              ..
{'0': {'type': {'categories': [], 'value': 'untyped'}, 'value': '9d8'}}                                        1
{'0': {'type': {'categories': [], 'value': 'negative'}, 'value': '8d4'}}                                       1
{'0': {'type': {'categories': [], 'value': 'negative'}, 'value': '8d6'}}                                       1
{'0': {'applyMod': True, 'type': {'categories': [], 'subtype': '', 'value': 'acid'}, 'value': '2d6+2'}}        1
{'0': {'applyMod': True, 'type': {'categories': [], 'subtype': '', 'value': 'negative'}, 'value': '1d4'}}      1
Name: value, Length: 181, dtype: int64

In [142]:
damage.damageType.value_counts()

piercing       193
slashing       109
bludgeoning     67
fire             3
acid             2
cold             1
Name: damageType, dtype: int64

In [143]:
damage.dice.value_counts()

1.0    372
2.0      2
0.0      1
Name: dice, dtype: int64

In [144]:
damage.die.value_counts()

d6     159
d8     100
d4      53
d10     34
d12     25
Name: die, dtype: int64

**CAN BE IMPORTANT**

#### damage value

In [145]:
damage_val = unpack_column(damage[damage.value.notnull()], column_name="value")

In [146]:
damage_val.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 860 entries, 81 to 21719
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   0                 856 non-null    object
 1   gcovwqxwitqchoin  11 non-null     object
 2   zvXU9ZdRVHSORUUn  1 non-null      object
 3   9k8ayqgvgultdghx  4 non-null      object
 4   1                 13 non-null     object
 5   v1pnjhfu6e9akqe0  4 non-null      object
 6   wnlxzlrxtrkk2bh3  1 non-null      object
dtypes: object(7)
memory usage: 53.8+ KB

In [147]:
damage_val["0"].value_counts()

{'applyMod': False, 'type': {'categories': [], 'subtype': '', 'value': 'positive'}, 'value': '1d8'}    56
{'applyMod': True, 'type': {'categories': [], 'value': 'mental'}, 'value': '0'}                        54
{'applyMod': True, 'type': {'categories': [], 'value': 'fire'}, 'value': '1d4'}                        26
{'applyMod': True, 'type': {'categories': [], 'value': 'cold'}, 'value': '1d4'}                        21
{'applyMod': True, 'type': {'categories': [], 'value': 'negative'}, 'value': '1d4'}                    20
                                                                                                       ..
{'type': {'categories': [], 'value': 'untyped'}, 'value': '8d10'}                                       1
{'type': {'categories': [], 'value': 'positive'}, 'value': '8d8'}                                       1
{'type': {'categories': [], 'value': 'cold'}, 'value': '20d6'}                                          1
{'type': {'categories': [], 'value': 'untyped'}, 'value': '9d8'}                                        1
{'applyMod': True, 'type': {'categories': [], 'subtype': '', 'value': 'negative'}, 'value': '1d4'}      1
Name: 0, Length: 180, dtype: int64

##### damage.value.0

In [148]:
d_val_zero = unpack_column_with_null(damage_val, column_name="0")

In [149]:
d_val_zero.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 860 entries, 81 to 21719
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   applyMod  482 non-null    object
 1   type      856 non-null    object
 2   value     856 non-null    object
dtypes: object(3)
memory usage: 26.9+ KB

In [150]:
d_val_zero.head()

    applyMod                                               type  value
81     False  {'categories': [], 'subtype': '', 'value': 'po...    1d8
95       NaN                {'categories': [], 'value': 'fire'}    4d6
97     False  {'categories': [], 'subtype': '', 'value': 'el...   4d12
102     True              {'categories': [], 'value': 'mental'}      0
108    False  {'categories': [], 'subtype': '', 'value': 'fo...  1d4+1

###### damage.value.0.type

In [151]:
damage_val_zero_type = unpack_column_with_null(d_val_zero, column_name="type")
damage_val_zero_type.categories = damage_val_zero_type.categories.apply(
    lambda x: np.nan if (type(x) == list and len(x) == 0) else x
)
damage_val_zero_type = damage_val_zero_type.replace("", np.nan)

In [152]:
damage_val_zero_type.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 860 entries, 81 to 21719
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   categories  0 non-null      float64
 1   subtype     1 non-null      object
 2   value       847 non-null    object
dtypes: float64(1), object(2)
memory usage: 26.9+ KB

In [153]:
damage_val_zero_type.head()

     categories subtype        value
81          NaN     NaN     positive
95          NaN     NaN         fire
97          NaN     NaN  electricity
102         NaN     NaN       mental
108         NaN     NaN        force

In [154]:
damage_val_zero_type.value.value_counts()

fire           129
negative       110
mental         104
untyped         99
positive        92
bludgeoning     61
cold            58
electricity     40
force           40
acid            27
sonic           27
healing         26
piercing        17
poison          17
Name: value, dtype: int64

In [159]:
items.loc[damage_val_zero_type.value.notnull().index].type.value_counts()

spell    860
Name: type, dtype: int64

damage spells types

In [155]:
damage_val_zero_type.subtype.value_counts()

persistent    1
Name: subtype, dtype: int64

In [160]:
damage_val_zero_type[damage_val_zero_type.subtype.notnull()]

       categories     subtype     value
20585         NaN  persistent  negative

###### damage.value.0.applyMod

In [165]:
d_val_zero[d_val_zero.applyMod.notnull()].applyMod.value_counts()

False    288
True     190
0          4
Name: applyMod, dtype: int64

###### damage.value.0.value

In [167]:
d_val_zero.value.value_counts()

1d4     87
1d8     78
0       54
1d6     53
6d6     30
        ..
17d6     1
14d4     1
14d8     1
7d4      1
8        1
Name: value, Length: 71, dtype: int64

**Can be important**

In [168]:
items.loc[d_val_zero.value.notnull().index].type.value_counts()

spell    860
Name: type, dtype: int64

##### damage.val: other col

In [174]:
# damage_val.drop(["0"], axis='columns', inplace=True)
damage_val.dropna(axis="index", how="all", inplace=True)

In [176]:
damage_val.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34 entries, 168 to 21574
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gcovwqxwitqchoin  11 non-null     object
 1   zvXU9ZdRVHSORUUn  1 non-null      object
 2   9k8ayqgvgultdghx  4 non-null      object
 3   1                 13 non-null     object
 4   v1pnjhfu6e9akqe0  4 non-null      object
 5   wnlxzlrxtrkk2bh3  1 non-null      object
dtypes: object(6)
memory usage: 1.9+ KB

In [178]:
damage_val

,gcovwqxwitqchoin,zvXU9ZdRVHSORUUn,9k8ayqgvgultdghx,1,v1pnjhfu6e9akqe0,wnlxzlrxtrkk2bh3
168,"{'applyMod': False, 'type': {'categories': [],...",NaN,NaN,NaN,NaN,NaN
460,"{'applyMod': False, 'type': {'categories': [],...",NaN,NaN,NaN,NaN,NaN
986,NaN,"{'applyMod': False, 'type': {'categories': [],...",NaN,NaN,NaN,NaN
1323,NaN,NaN,"{'applyMod': False, 'type': {'categories': [],...",NaN,NaN,NaN
3198,NaN,NaN,"{'applyMod': False, 'type': {'categories': [],...",NaN,NaN,NaN
3251,NaN,NaN,NaN,"{'applyMod': False, 'type': {'categories': [],...",NaN,NaN
4110,NaN,NaN,"{'applyMod': False, 'type': {'categories': [],...",NaN,NaN,NaN
4657,NaN,NaN,"{'applyMod': False, 'type': {'categories': [],...",NaN,NaN,NaN
5289,NaN,NaN,NaN,"{'applyMod': False, 'type': {'categories': [],...",NaN,NaN
6959,"{'applyMod': False, 'type': {'categories': [],...",NaN,NaN,NaN,NaN,NaN
9037,NaN,NaN,NaN,"{'applyMod': False, 'type': {'categories': [],...",NaN,NaN
10377,"{'applyMod': False, 'type': {'categories': [],...",NaN,NaN,NaN,NaN,NaN
11671,NaN,NaN,NaN,NaN,"{'applyMod': False, 'type': {'categories': [],...",NaN
14021,NaN,NaN,NaN,"{'applyMod': False, 'type': {'categories': [],...",NaN,NaN
14541,NaN,NaN,NaN,"{'applyMod': False, 'type': {'categories': [],...",NaN,NaN
15173,NaN,NaN,NaN,"{'applyMod': False, 'type': {'categories': [],...",NaN,NaN
15250,NaN,NaN,NaN,"{'applyMod': False, 'type': {'categories': [],...",NaN,NaN
15333,NaN,NaN,NaN,"{'applyMod': False, 'type': {'categories': [],...",NaN,NaN
16224,NaN,NaN,NaN,"{'applyMod': False, 'type': {'categories': [],...",NaN,NaN
16349,NaN,NaN,NaN,"{'applyMod': False, 'type': {'categories': [],...",NaN,NaN
16499,NaN,NaN,NaN,"{'applyMod': False, 'type': {'categories': [],...",NaN,NaN
16797,NaN,NaN,NaN,NaN,"{'applyMod': False, 'type': {'categories': [],...",NaN
16821,"{'applyMod': False, 'type': {'categories': [],...",NaN,NaN,NaN,NaN,NaN
16878,"{'applyMod': False, 'type': {'categories': [],...",NaN,NaN,NaN,NaN,NaN
16964,NaN,NaN,NaN,"{'applyMod': False, 'type': {'categories': [],...",NaN,NaN
16989,NaN,NaN,NaN,NaN,NaN,"{'applyMod': False, 'type': {'categories': [],..."
17151,NaN,NaN,NaN,"{'applyMod': False, 'type': {'categories': [],...",NaN,NaN
17476,"{'applyMod': False, 'type': {'categories': [],...",NaN,NaN,NaN,NaN,NaN
18022,"{'applyMod': False, 'type': {'categories': [],...",NaN,NaN,NaN,NaN,NaN
18076,NaN,NaN,NaN,NaN,"{'applyMod': False, 'type': {'categories': [],...",NaN
18704,"{'applyMod': False, 'type': {'categories': [],...",NaN,NaN,NaN,NaN,NaN
18790,"{'applyMod': False, 'type': {'categories': [],...",NaN,NaN,NaN,NaN,NaN
20287,"{'applyMod': False, 'type': {'categories': [],...",NaN,NaN,NaN,NaN,NaN
21574,NaN,NaN,NaN,NaN,"{'applyMod': False, 'type': {'categories': [],...",NaN

Looks like in other columns the same "things" as in this "0" one

###

In [181]:
damage.dropna(axis="index", how="all", inplace=True)
damage.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1235 entries, 81 to 21720
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   value       860 non-null    object
 1   damageType  375 non-null    object
 2   dice        375 non-null    float64
 3   die         371 non-null    object
dtypes: float64(1), object(3)
memory usage: 48.2+ KB

In [182]:
860 + 375

1235

In [156]:
# bestiary.loc[86, :]

In [157]:
# system.drop(["autoHeightenLevel"], axis='columns', inplace=True)
# unpack_column(system[system.cost.notnull()], column_name="cost")
system.head()
# system.columns
# system.proficiency[system.proficiency.notnull()]

,damage,duration,hasCounteractCheck,level,location,materials,primarycheck,range,save,school,...,unidentified,areatype,brokenThreshold,bulkCapacity,collapsed,identification,identified,invested,maxHp,stowing
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,{'value': {}},{'value': '1 minute'},{'value': False},{'value': 2},"{'heightenedLevel': 2, 'value': 'B7rzf0nBJmzg8...",{'value': ''},{'value': ''},{'value': '120 feet'},"{'basic': '', 'value': ''}",{'value': 'conjuration'},...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,{'value': {}},{'value': 'until the start of your next turn'},{'value': False},{'value': 1},"{'heightenedLevel': 1, 'value': 'B7rzf0nBJmzg8...",{'value': ''},{'value': ''},{'value': ''},"{'basic': '', 'value': 'fortitude'}",{'value': 'evocation'},...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN