# Analysis of items column
### subcolumn: system

Load bestiaries

In [10]:
import pathlib
import pandas as pd
from training.analysis_functions import (
    get_merged_bestiaries,
    unpack_column_with_null,
    unpack_column,
)


DATASETS_DIR = "../../pathfinder_2e_data/"
DATASET_FILES = [
    "pathfinder-bestiary.db",
    "pathfinder-bestiary-2.db",
    "pathfinder-bestiary-3.db",
]
DATASET_PATHS = [f"{DATASETS_DIR}/{file}" for file in DATASET_FILES]

bestiary = get_merged_bestiaries(DATASET_PATHS)

In [2]:
bestiary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1206 entries, 0 to 1205
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   _id             1206 non-null   object
 1   img             1206 non-null   object
 2   items           1206 non-null   object
 3   name            1206 non-null   object
 4   system          1206 non-null   object
 5   type            1206 non-null   object
 6   flags           1206 non-null   object
 7   prototypeToken  85 non-null     object
dtypes: object(8)
memory usage: 75.5+ KB

In [3]:
bestiary.head()

,_id,img,items,name,system,type,flags,prototypeToken
0,024PqcF8yMRBrPuq,systems/pf2e/icons/default-icons/npc.svg,"[{'_id': 'B7rzf0nBJmzg8x0y', 'img': 'systems/p...",Adult White Dragon,"{'abilities': {'cha': {'mod': 1}, 'con': {'mod...",npc,{'core': {'sourceId': 'Compendium.pf2e.pathfin...,NaN
1,05E3kkjoLZVjFOeO,systems/pf2e/icons/default-icons/npc.svg,"[{'_id': 'mYNDkS27YQRyy1F0', 'img': 'systems/p...",Brontosaurus,"{'abilities': {'cha': {'mod': 1}, 'con': {'mod...",npc,{'core': {'sourceId': 'Compendium.pf2e.pathfin...,NaN
2,05wwpHHsBlxBbdkN,systems/pf2e/icons/default-icons/npc.svg,"[{'_id': 'WkPeg600zGONsuJz', 'img': 'systems/p...",Giant Anaconda,"{'abilities': {'cha': {'mod': -2}, 'con': {'mo...",npc,{'core': {'sourceId': 'Compendium.pf2e.pathfin...,NaN
3,0FGz2eXm0SB04sJW,systems/pf2e/icons/default-icons/npc.svg,"[{'_id': 'joBYS96mXSnZC1WB', 'img': 'systems/p...",Ancient Green Dragon,"{'abilities': {'cha': {'mod': 6}, 'con': {'mod...",npc,{'core': {'sourceId': 'Compendium.pf2e.pathfin...,NaN
4,0HjVFx8qIKDCfblg,systems/pf2e/icons/default-icons/npc.svg,"[{'_id': 'xlUnQcjrxeMXu5Cd', 'img': 'systems/p...",Lantern Archon,"{'abilities': {'cha': {'mod': 1}, 'con': {'mod...",npc,{'core': {'sourceId': 'Compendium.pf2e.pathfin...,NaN

*items* column have lists of items for each monster in bestiaries

Collect a list of all items in bestiaries:

In [4]:
items_data = []
for _, val in bestiary["items"].iteritems():
    items_data += val

In [5]:
print(
    f"All items in 3 basic bestiaries: {len(items_data)} - chance that they are not unique"
)

All items in 3 basic bestiaries: 21731 - chance that they are not unique

In [7]:
items = pd.DataFrame.from_dict(data=items_data)  # load data to DataFrame

In [8]:
items.info()  # info about items data structure

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21731 entries, 0 to 21730
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   _id     21731 non-null  object
 1   img     21731 non-null  object
 2   name    21731 non-null  object
 3   sort    21731 non-null  int64
 4   system  21731 non-null  object
 5   type    21731 non-null  object
 6   flags   10037 non-null  object
dtypes: int64(1), object(6)
memory usage: 1.2+ MB

In [9]:
items.head()  # 5 first items

,_id,img,name,sort,system,type,flags
0,B7rzf0nBJmzg8x0y,systems/pf2e/icons/default-icons/spellcastingE...,Arcane Innate Spells,100000,"{'autoHeightenLevel': {'value': None}, 'descri...",spellcastingEntry,NaN
1,ac9hRct9QTDrzhy1,systems/pf2e/icons/spells/obscuring-mist.webp,Obscuring Mist (At Will),200000,"{'ability': {'value': ''}, 'area': {'type': 'b...",spell,{'core': {'sourceId': 'Compendium.pf2e.spells-...
2,ui2iVt9gJcMIs6H5,systems/pf2e/icons/spells/gust-of-wind.webp,Gust of Wind (At Will),300000,"{'ability': {'value': ''}, 'area': {'type': 'l...",spell,{'core': {'sourceId': 'Compendium.pf2e.spells-...
3,pmqefsGShf77p3Zd,systems/pf2e/icons/default-icons/melee.svg,Jaws,400000,"{'attack': {'value': ''}, 'attackEffects': {'c...",melee,NaN
4,h6wQ76GXx0XhL0rW,systems/pf2e/icons/default-icons/melee.svg,Claw,500000,"{'attack': {'value': ''}, 'attackEffects': {'c...",melee,NaN

## System

In [11]:
system = unpack_column(items, column_name="system")

In [13]:
system.head()

,autoHeightenLevel,description,displayLevels,prepared,proficiency,rules,showSlotlessLevels,showUnpreparedSpells,slots,slug,...,unidentified,areatype,brokenThreshold,bulkCapacity,collapsed,identification,identified,invested,maxHp,stowing
0,{'value': None},{'value': ''},{},"{'flexible': False, 'value': 'innate'}",{'value': 0},[],{'value': False},{'value': True},"{'slot0': {'max': 0, 'prepared': [], 'value': ...",None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,{'value': '<p>You call forth a cloud of mist. ...,NaN,{'value': ''},NaN,[],NaN,NaN,NaN,obscuring-mist,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,{'value': '<p>A violent wind issues forth from...,NaN,{'value': ''},NaN,[],NaN,NaN,NaN,gust-of-wind,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,{'value': ''},NaN,NaN,NaN,[],NaN,NaN,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,{'value': ''},NaN,NaN,NaN,[],NaN,NaN,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
system.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21731 entries, 0 to 21730
Columns: 109 entries, autoHeightenLevel to stowing
dtypes: float64(1), object(108)
memory usage: 18.1+ MB

In [ ]:
# 109 columns

### autoHeightenLevel

In [16]:
aHL = unpack_column_with_null(system, column_name="autoHeightenLevel")

In [17]:
aHL.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21731 entries, 0 to 21730
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   value   86 non-null     float64
dtypes: float64(1)
memory usage: 339.5 KB

In [18]:
aHL.value.value_counts()

4.0     20
3.0     11
5.0     11
6.0     11
7.0      9
8.0      8
2.0      7
9.0      6
1.0      2
10.0     1
Name: value, dtype: int64

In [24]:
items[aHL.value.notnull()].type.value_counts()

spellcastingEntry    86
Name: type, dtype: int64

In [26]:
items[items.type == "spellcastingEntry"]

,_id,img,name,sort,system,type,flags
0,B7rzf0nBJmzg8x0y,systems/pf2e/icons/default-icons/spellcastingE...,Arcane Innate Spells,100000,"{'autoHeightenLevel': {'value': None}, 'descri...",spellcastingEntry,NaN
46,joBYS96mXSnZC1WB,systems/pf2e/icons/default-icons/spellcastingE...,Arcane Innate Spells,100000,"{'autoHeightenLevel': {'value': None}, 'descri...",spellcastingEntry,NaN
78,xlUnQcjrxeMXu5Cd,systems/pf2e/icons/default-icons/spellcastingE...,Divine Innate Spells,100000,"{'autoHeightenLevel': {'value': None}, 'descri...",spellcastingEntry,NaN
92,pdwlm8jY2MDoJUAN,systems/pf2e/icons/default-icons/spellcastingE...,Arcane Spontaneous Spells,100000,"{'autoHeightenLevel': {'value': None}, 'descri...",spellcastingEntry,NaN
93,FReUvGRM1Bo8CeGZ,systems/pf2e/icons/default-icons/spellcastingE...,Occult Innate Spells,200000,"{'autoHeightenLevel': {'value': None}, 'descri...",spellcastingEntry,NaN
...,...,...,...,...,...,...,...
21638,kBmOKMaUjcEjTeia,systems/pf2e/icons/default-icons/spellcastingE...,Occult Innate Spells,100000,"{'autoHeightenLevel': {'value': None}, 'descri...",spellcastingEntry,NaN
21670,Re0uYYA9c4nnaRne,systems/pf2e/icons/default-icons/spellcastingE...,Primal Innate Spells,100000,"{'autoHeightenLevel': {'value': None}, 'descri...",spellcastingEntry,NaN
21693,p3v8D49u0adS76qw,systems/pf2e/icons/default-icons/spellcastingE...,Divine Innate Spells,100000,"{'autoHeightenLevel': {'value': None}, 'descri...",spellcastingEntry,NaN
21710,53ZHZQrxzfyMUm3s,systems/pf2e/icons/default-icons/spellcastingE...,Occult Innate Spells,100000,"{'autoHeightenLevel': {'value': None}, 'descri...",spellcastingEntry,NaN
21711,pkmr68rFCQdo9nId,systems/pf2e/icons/default-icons/spellcastingE...,Rituals,200000,"{'autoHeightenLevel': {'value': None}, 'descri...",spellcastingEntry,NaN

In [32]:
items[aHL.value.isnull()][items.type != "spellcastingEntry"]

C:\Users\jolka\AppData\Local\Temp\ipykernel_10036\4227473434.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  items[aHL.value.isnull()][items.type != "spellcastingEntry"]

,_id,img,name,sort,system,type,flags
1,ac9hRct9QTDrzhy1,systems/pf2e/icons/spells/obscuring-mist.webp,Obscuring Mist (At Will),200000,"{'ability': {'value': ''}, 'area': {'type': 'b...",spell,{'core': {'sourceId': 'Compendium.pf2e.spells-...
2,ui2iVt9gJcMIs6H5,systems/pf2e/icons/spells/gust-of-wind.webp,Gust of Wind (At Will),300000,"{'ability': {'value': ''}, 'area': {'type': 'l...",spell,{'core': {'sourceId': 'Compendium.pf2e.spells-...
3,pmqefsGShf77p3Zd,systems/pf2e/icons/default-icons/melee.svg,Jaws,400000,"{'attack': {'value': ''}, 'attackEffects': {'c...",melee,NaN
4,h6wQ76GXx0XhL0rW,systems/pf2e/icons/default-icons/melee.svg,Claw,500000,"{'attack': {'value': ''}, 'attackEffects': {'c...",melee,NaN
5,b4GFgu6HgDqvji6X,systems/pf2e/icons/default-icons/melee.svg,Tail,600000,"{'attack': {'value': ''}, 'attackEffects': {'c...",melee,NaN
...,...,...,...,...,...,...,...
21726,FJEaQqHttC6Z3MP3,systems/pf2e/icons/actions/Passive.webp,Sneak Attack,1700000,"{'actionCategory': {'value': 'offensive'}, 'ac...",action,{'core': {'sourceId': 'Compendium.pf2e.bestiar...
21727,dXxtpW4U3D5id6mQ,systems/pf2e/icons/default-icons/lore.svg,Arcana,1800000,"{'description': {'value': ''}, 'mod': {'value'...",lore,NaN
21728,ogH259ZTMG3DAdRL,systems/pf2e/icons/default-icons/lore.svg,Intimidation,1900000,"{'description': {'value': ''}, 'mod': {'value'...",lore,NaN
21729,dCGRUpbXAHrLczgs,systems/pf2e/icons/default-icons/lore.svg,Occultism,2000000,"{'description': {'value': ''}, 'mod': {'value'...",lore,NaN
21730,vRINsQt7kOgbqixu,systems/pf2e/icons/default-icons/lore.svg,Stealth,2100000,"{'description': {'value': ''}, 'mod': {'value'...",lore,NaN

=> *autoHeightenLevel* - probobly parameter only for **spellcastingEntry**

There are spellcastingEntry with None value for autoHeightenLevel (but they have this parameter 'autoHeightenLevel': {'value': None})

There are no items with different type and value of autoHeightenLevel

*not that important*

In [33]:
system.drop(["autoHeightenLevel"], axis="columns", inplace=True)

### description

In [34]:
description = unpack_column_with_null(system, column_name="description")

In [35]:
description.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21731 entries, 0 to 21730
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   value   21731 non-null  object
dtypes: object(1)
memory usage: 339.5+ KB

In [36]:
description.head()

                                               value
0
1  <p>You call forth a cloud of mist. All creatur...
2  <p>A violent wind issues forth from your palm,...
3
4

In [40]:
str(description.iloc[1, 0])

'<p>You call forth a cloud of mist. All creatures within the mist become @UUID[Compendium.pf2e.conditionitems.DmAIPqOBomZ7H95W]{Concealed}, and all creatures outside the mist become Concealed to creatures within it. You can Dismiss the cloud.</p>'

In [41]:
description.value.value_counts()

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         8538
<p>@Localize[PF2E.NPC.Abilities.Glossary.Darkvision]</p>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  810
<p>@Localize[PF2E.NPC.Abilities.Glossary.Scent]</p>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       306
<p>@Localize[PF2E.NPC.Abilities.Glossary.AtWillSpells]</p>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                291
<p>@Localize[PF2E.NPC.Abilities.Glossary.LowLightVision]</p>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              233
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         ...
<p>[[/r (1d6+4)[bludgeoning]]] damage, @Check[type:fortitude|dc:20|basic:true]</p>\n<hr />\n<p>@Localize[PF2E.NPC.Abilities.Glossary.Constrict]</p>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         1
<p><strong>Saving Throw</strong> @Check[type:fortitude|dc:18|basic:true]</p>\n<hr />\n<p><strong>Maximum Duration</strong> 6 rounds</p>\n<p><strong>Stage 1</strong> [[/r 1d10[poison]]] damage and @UUID[Compendium.pf2e.conditionitems.MIRkyAjyBeXivMa7]{Enfeebled 1} (1 round)</p>\n<p><strong>Stage 2</strong> [[/r 2d10[poison]]] damage and enfeebled 1 (1 round)</p>\n<p><strong>Stage 3</strong> [[/r 2d10[poison]]] damage and @UUID[Compendium.pf2e.conditionitems.MIRkyAjyBeXivMa7]{Enfeebled 2} (1 round)</p>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   1
<p>Lemures have little drive of their own, but other devils can take command of them. A non-lemure devil can issue a command to all lemures within 60 feet of it with a single action, which has the auditory and concentrate traits. The devil picks one of the following orders lemures can understand, and the lemures follow that order. The command and its effects end once the commander is out of the lemure's sight, a new command is issued by the same or another devil, or the lemure dies.</p>\n<ul>\n<li><strong>Kill</strong> The lemure attacks one target the commander singles out and gains a +1 circumstance bonus to attack rolls against the target.</li>\n<li><strong>Defend</strong> The lemure circles the commander and attacks any creature that comes near. It gains a +1 circumstance bonus to AC and saves.</li>\n<li><strong>Fetch</strong> The lemure gains a +10-foot circumstance bonus to its Speed and attempts to get an object or person the commander singles out. It attacks anyone and anything that gets in the way.</li>\n<li><strong>Work</strong> The lemure performs drudge work dictated by the commander.</li>\n</ul>       1
<p>The living wildfire ignores the @UUID[Compendium.pf2e.conditionitems.DmAIPqOBomZ7H95W]{Concealed} condition from smoke.</p>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              1
<p>The caller deals an additional 2d6 precision damage to flat-footed creatures.</p>\n<hr />\n<p>@Localize[PF2E.NPC.Abilities.Glossary.SneakAttack]</p>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     1
Name: value, Length: 4372, dtype: int64

description

*I hope it is not important*
*Analysis in other notebook*

In [42]:
system.drop(["description"], axis="columns", inplace=True)

### displayLevels

In [53]:
dL = unpack_column(system, column_name="displayLevels")

In [54]:
dL.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21731 entries, 0 to 21730
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       0 non-null      float64
 1   0       54 non-null     object
 2   1       54 non-null     object
 3   2       49 non-null     object
 4   3       45 non-null     object
 5   4       41 non-null     object
 6   5       35 non-null     object
 7   6       25 non-null     object
 8   7       18 non-null     object
 9   8       13 non-null     object
 10  9       8 non-null      object
 11  10      3 non-null      object
dtypes: float64(1), object(11)
memory usage: 2.0+ MB

In [55]:
system.displayLevels[system.displayLevels.notnull()]

0        {}
46       {}
78       {}
92       {}
93       {}
         ..
21638    {}
21670    {}
21693    {}
21710    {}
21711    {}
Name: displayLevels, Length: 782, dtype: object

In [65]:
import numpy as np


# system.loc[system.displayLevels == {}] = np.nan
system.loc[system.displayLevels == {}].displayLevels = np.nan
dL = unpack_column(system[system.displayLevels.notnull()], column_name="displayLevels")

In [66]:
dL.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55 entries, 161 to 14135
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       54 non-null     object
 1   1       54 non-null     object
 2   2       49 non-null     object
 3   3       45 non-null     object
 4   4       41 non-null     object
 5   5       35 non-null     object
 6   6       25 non-null     object
 7   7       18 non-null     object
 8   8       13 non-null     object
 9   9       8 non-null      object
 10  10      3 non-null      object
dtypes: object(11)
memory usage: 5.2+ KB

In [67]:
dL.head()

,0,1,2,3,4,5,6,7,8,9,10
161,False,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
282,False,False,False,False,False,False,False,False,False,False,False
794,False,False,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN
1303,False,False,False,False,False,False,False,NaN,NaN,NaN,NaN
1500,False,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [68]:
dL

,0,1,2,3,4,5,6,7,8,9,10
161,False,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
282,False,False,False,False,False,False,False,False,False,False,False
794,False,False,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN
1303,False,False,False,False,False,False,False,NaN,NaN,NaN,NaN
1500,False,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2116,False,False,False,False,False,False,False,NaN,NaN,NaN,NaN
2171,False,False,False,False,False,False,NaN,NaN,NaN,NaN,NaN
2293,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2701,False,False,False,False,False,False,False,NaN,NaN,NaN,NaN
2994,False,False,False,False,False,False,False,False,False,False,NaN
3050,False,False,False,False,False,False,NaN,NaN,NaN,NaN,NaN
3172,False,False,False,False,False,False,False,False,False,NaN,NaN
3319,False,False,False,False,False,False,False,False,False,NaN,NaN
4077,False,False,False,False,False,False,False,False,False,False,False
4750,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5029,False,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5134,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5182,False,False,False,False,False,False,NaN,NaN,NaN,NaN,NaN
5347,False,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5378,NaN,NaN,NaN,NaN,True,True,NaN,NaN,NaN,NaN,NaN
5449,False,False,False,False,False,False,NaN,NaN,NaN,NaN,NaN
5692,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5863,False,False,False,False,False,False,False,False,NaN,NaN,NaN
5985,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6041,False,False,False,False,False,False,False,False,False,False,False
6256,False,False,False,False,False,False,False,False,False,NaN,NaN
6649,False,False,NaN,False,False,False,NaN,NaN,NaN,NaN,NaN
6763,False,False,False,False,False,False,False,False,NaN,NaN,NaN
6809,False,False,False,False,False,False,False,NaN,NaN,NaN,NaN
6851,False,False,True,False,False,False,False,False,False,False,NaN
6909,False,False,False,False,False,False,False,False,NaN,NaN,NaN
6956,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7118,False,False,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN
7167,False,False,False,False,False,False,False,False,False,False,NaN
7608,False,False,False,False,False,False,False,False,NaN,NaN,NaN
7652,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7740,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8244,False,False,False,False,False,False,NaN,NaN,NaN,NaN,NaN
8292,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8326,False,False,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN
8853,False,False,False,False,False,False,NaN,NaN,NaN,NaN,NaN
9227,False,False,False,False,False,False,False,False,False,False,NaN
9656,False,False,False,False,False,False,False,False,NaN,NaN,NaN
10320,False,False,False,False,False,False,False,NaN,NaN,NaN,NaN
10370,False,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11155,False,False,False,False,False,False,False,NaN,NaN,NaN,NaN
11203,False,False,False,False,False,False,False,False,False,NaN,NaN
11477,False,False,False,False,False,True,NaN,NaN,NaN,NaN,NaN
11603,False,False,False,False,False,False,False,False,False,NaN,NaN
11658,False,False,False,False,False,False,False,False,False,False,NaN
11938,False,False,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN
12180,False,False,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN
13073,False,False,False,False,False,False,False,NaN,NaN,NaN,NaN
13629,False,False,False,False,False,False,NaN,NaN,NaN,NaN,NaN
14135,False,False,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN

Just a dict containing more or less True/False values

In [69]:
system.drop(["displayLevels"], axis="columns", inplace=True)

### prepared

In [71]:
prepared = unpack_column_with_null(system, column_name="prepared")

In [74]:
prepared.head()

  value flexible
0   NaN      NaN
1            NaN
2            NaN
3   NaN      NaN
4   NaN      NaN

In [76]:
prepared = prepared.replace("", np.nan)
prepared.head()

  value flexible
0   NaN      NaN
1   NaN      NaN
2   NaN      NaN
3   NaN      NaN
4   NaN      NaN

In [77]:
prepared.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21731 entries, 0 to 21730
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   value     65 non-null     object
 1   flexible  55 non-null     object
dtypes: object(2)
memory usage: 509.3+ KB

In [78]:
prepared[prepared.value.notnull()]

          value flexible
161    prepared    False
282    prepared    False
794    prepared    False
1303   prepared    False
1500   prepared    False
...         ...      ...
17336     False      NaN
19894     False      NaN
19950     False      NaN
20585     False      NaN
21411     False      NaN

[65 rows x 2 columns]

In [82]:
prepared[prepared.value == "prepared"]

          value flexible
161    prepared    False
282    prepared    False
794    prepared    False
1303   prepared    False
1500   prepared    False
2116   prepared    False
2171   prepared    False
2293   prepared    False
2701   prepared    False
2994   prepared    False
3050   prepared    False
3172   prepared    False
3319   prepared    False
4077   prepared    False
4750   prepared    False
5029   prepared    False
5134   prepared    False
5182   prepared    False
5347   prepared    False
5378   prepared    False
5449   prepared    False
5692   prepared    False
5863   prepared    False
5985   prepared    False
6041   prepared    False
6256   prepared    False
6649   prepared    False
6763   prepared    False
6809   prepared    False
6851   prepared    False
6909   prepared    False
6956   prepared    False
7118   prepared    False
7167   prepared    False
7608   prepared    False
7652   prepared    False
7740   prepared    False
8244   prepared    False
8292   prepared    False
8326   prepared    False
8853   prepared    False
9227   prepared    False
9656   prepared    False
10320  prepared    False
10370  prepared    False
11155  prepared    False
11203  prepared    False
11477  prepared    False
11603  prepared    False
11658  prepared    False
11938  prepared    False
12180  prepared    False
13073  prepared    False
13629  prepared    False
14135  prepared    False

In [85]:
items[prepared.value == "prepared"].type.value_counts()

spellcastingEntry    55
Name: type, dtype: int64

In [86]:
items[prepared.value == False].type.value_counts()

spell    10
Name: type, dtype: int64

If prepared.value == "prepared" <=> prepared.flexible == False. There are also cases where prepared is just an empty dict or prepared.value == False

At least here

* prepared.value == "prepared" only for spellcastingEntry
* prepared.value == False only for spells

In [87]:
system.drop(["prepared"], axis="columns", inplace=True)

### proficiency

In [91]:
proficiency = unpack_column(
    system[system.proficiency.notnull()], column_name="proficiency"
)

In [92]:
proficiency.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55 entries, 161 to 14135
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   value   55 non-null     int64
dtypes: int64(1)
memory usage: 880.0 bytes

In [93]:
proficiency.head()

      value
161       0
282       0
794       0
1303      0
1500      0

In [94]:
proficiency.value.value_counts()

0    40
1    15
Name: value, dtype: int64

In [102]:
items.loc[proficiency[proficiency.value == 0].index].type.value_counts()

spellcastingEntry    40
Name: type, dtype: int64

In [103]:
items.loc[proficiency[proficiency.value == 1].index].type.value_counts()

spellcastingEntry    15
Name: type, dtype: int64

proficiency is another parameter that appears only for *spellcastingEntry*

In [104]:
system.drop(["proficiency"], axis="columns", inplace=True)

### rules

In [114]:
# only not null and without empty lists
system.rules = system.rules.apply(
    lambda x: np.nan if (type(x) == list and len(x) == 0) else x
)
rules = system.rules[system.rules.notnull()]

In [115]:
rules.info()

<class 'pandas.core.series.Series'>
Int64Index: 1497 entries, 8 to 21726
Series name: rules
Non-Null Count  Dtype
--------------  -----
1497 non-null   object
dtypes: object(1)
memory usage: 23.4+ KB

In [116]:
rules.head()

8     [{'key': 'FlatModifier', 'predicate': [{'or': ...
9     [{'key': 'Aura', 'radius': 5, 'slug': 'dragon-...
11    [{'key': 'Aura', 'radius': 90, 'slug': 'fright...
14    [{'key': 'Note', 'outcome': ['criticalSuccess'...
57    [{'key': 'Note', 'predicate': ['action:hide', ...
Name: rules, dtype: object

Analysis maybe (?) in other notebook

In [119]:
system.drop(["rules"], axis="columns", inplace=True)

### showSlotlessLevels

In [121]:
showSlotlessLevels = unpack_column(
    system[system.showSlotlessLevels.notnull()], column_name="showSlotlessLevels"
)

In [122]:
showSlotlessLevels.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55 entries, 161 to 14135
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   value   55 non-null     bool
dtypes: bool(1)
memory usage: 495.0 bytes

In [123]:
showSlotlessLevels.head()

      value
161   False
282   False
794   False
1303  False
1500  False

In [124]:
showSlotlessLevels.value.value_counts()

False    52
True      3
Name: value, dtype: int64

In [128]:
items.loc[showSlotlessLevels.index].type.value_counts()

spellcastingEntry    55
Name: type, dtype: int64

It is a spellcastingEntry attribute. Only boolean values

In [129]:
system.drop(["showSlotlessLevels"], axis="columns", inplace=True)

### showUnpreparedSpells

In [134]:
showUnpreparedSpells = unpack_column(
    system[system.showUnpreparedSpells.notnull()], column_name="showUnpreparedSpells"
)

In [135]:
showUnpreparedSpells.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55 entries, 161 to 14135
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   value   55 non-null     bool
dtypes: bool(1)
memory usage: 495.0 bytes

In [136]:
showUnpreparedSpells.head()

      value
161   False
282   False
794   False
1303  False
1500  False

In [137]:
showUnpreparedSpells.value.value_counts()

False    37
True     18
Name: value, dtype: int64

In [139]:
items.loc[showUnpreparedSpells.index].type.value_counts()

spellcastingEntry    55
Name: type, dtype: int64

It is a spellcastingEntry attribute. Only boolean values

In [140]:
system.drop(["showUnpreparedSpells"], axis="columns", inplace=True)

### slots

In [142]:
slots = unpack_column(system[system.slots.notnull()], column_name="slots")

In [143]:
slots.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55 entries, 161 to 14135
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   slot0   55 non-null     object
 1   slot1   55 non-null     object
 2   slot10  55 non-null     object
 3   slot11  55 non-null     object
 4   slot2   55 non-null     object
 5   slot3   55 non-null     object
 6   slot4   55 non-null     object
 7   slot5   55 non-null     object
 8   slot6   55 non-null     object
 9   slot7   55 non-null     object
 10  slot8   55 non-null     object
 11  slot9   55 non-null     object
dtypes: object(12)
memory usage: 5.6+ KB

In [144]:
slots.head()

,slot0,slot1,slot10,slot11,slot2,slot3,slot4,slot5,slot6,slot7,slot8,slot9
161,"{'max': 5, 'prepared': {'0': {'id': 'okGFmUTVP...","{'max': 3, 'prepared': {'0': {'id': 'WR1YEnWr0...","{'max': 0, 'prepared': [], 'value': 0}","{'max': 0, 'prepared': [], 'value': 0}","{'max': 3, 'prepared': {'0': {'id': 'QpWKxB3qk...","{'max': 2, 'prepared': {'0': {'id': 'inMjsHl3o...","{'max': 0, 'prepared': [], 'value': 0}","{'max': 0, 'prepared': [], 'value': 0}","{'max': 0, 'prepared': [], 'value': 0}","{'max': 0, 'prepared': [], 'value': 0}","{'max': 0, 'prepared': [], 'value': 0}","{'max': 0, 'prepared': [], 'value': 0}"
282,"{'max': 5, 'prepared': {'0': {'id': 'oLbuCqIYn...","{'max': 3, 'prepared': {'0': {'id': '2nur7rgrG...","{'max': 0, 'prepared': [], 'value': 0}","{'max': 0, 'prepared': [], 'value': 0}","{'max': 3, 'prepared': {'0': {'id': 'MElLzcltT...","{'max': 3, 'prepared': {'0': {'id': '3CGLemYS0...","{'max': 3, 'prepared': {'0': {'expended': Fals...","{'max': 3, 'prepared': {'0': {'id': 'WtZauKapd...","{'max': 3, 'prepared': {'0': {'id': '5hrFRUgHv...","{'max': 3, 'prepared': {'0': {'id': 'OSXSrpnlU...","{'max': 3, 'prepared': {'0': {'id': 'Ux8C6xJEF...","{'max': 2, 'prepared': {'0': {'id': 'qSnYmhhxm..."
794,"{'max': 5, 'prepared': {'0': {'id': 'IzBLwbfp0...","{'max': 3, 'prepared': {'0': {'id': 'IkBeG2Jlx...","{'max': 0, 'prepared': [], 'value': 0}","{'max': 0, 'prepared': [], 'value': 0}","{'max': 3, 'prepared': {'0': {'id': 'E1YMtVXl5...","{'max': 3, 'prepared': {'0': {'id': 'OdHOW2F96...","{'max': 0, 'prepared': [], 'value': 0}","{'max': 0, 'prepared': [], 'value': 0}","{'max': 0, 'prepared': [], 'value': 0}","{'max': 0, 'prepared': [], 'value': 0}","{'max': 0, 'prepared': [], 'value': 0}","{'max': 0, 'prepared': [], 'value': 0}"
1303,"{'max': 5, 'prepared': {'0': {'id': 'AP7kBXTnO...","{'max': 4, 'prepared': {'0': {'id': 'gKYk0TieY...","{'max': 0, 'prepared': [], 'value': 0}","{'max': 0, 'prepared': [], 'value': 0}","{'max': 4, 'prepared': {'0': {'id': 'YEW7VfYQ9...","{'max': 3, 'prepared': {'0': {'id': '7TL6jwfAX...","{'max': 3, 'prepared': {'0': {'id': 'q1REpgMRj...","{'max': 0, 'prepared': [], 'value': 0}","{'max': 0, 'prepared': [], 'value': 0}","{'max': 0, 'prepared': [], 'value': 0}","{'max': 0, 'prepared': [], 'value': 0}","{'max': 0, 'prepared': [], 'value': 0}"
1500,"{'max': 3, 'prepared': {'0': {'id': 'nWJEgCvYW...","{'max': 3, 'prepared': {'0': {'id': 's8ncoGEzT...","{'max': 0, 'prepared': [], 'value': 0}","{'max': 0, 'prepared': [], 'value': 0}","{'max': 2, 'prepared': {'0': {'id': 'lCilny3hx...","{'max': 1, 'prepared': {'0': {'id': 'FPD0b6GjH...","{'max': 0, 'prepared': [], 'value': 0}","{'max': 0, 'prepared': [], 'value': 0}","{'max': 0, 'prepared': [], 'value': 0}","{'max': 0, 'prepared': [], 'value': 0}","{'max': 0, 'prepared': [], 'value': 0}","{'max': 0, 'prepared': [], 'value': 0}"

Analysis in other notebook

In [145]:
system.drop(["slots"], axis="columns", inplace=True)

### slug

In [147]:
slug = system.slug[system.slug.notnull()]

In [148]:
slug.value_counts()

darkvision                        810
scent                             306
at-will-spells                    291
low-light-vision                  233
1-status-to-all-saves-vs-magic    216
                                 ...
skrik-nettle-venom                  1
ghoul-fever                         1
ogre-spider-venom                   1
lich-rejuvenation                   1
owb-pact                            1
Name: slug, Length: 928, dtype: int64

In [149]:
items.loc[slug.index].type.value_counts()

spell         5148
action        4198
weapon         375
armor          120
consumable      95
equipment       35
condition       11
effect           5
melee            2
treasure         1
lore             1
backpack         1
Name: type, dtype: int64

**Can be useful**

In [150]:
system.drop(["slug"], axis="columns", inplace=True)

### source

In [159]:
source = unpack_column(system[system.source.notnull()], column_name="source")

In [155]:
source.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21004 entries, 1 to 21730
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   value   21004 non-null  object
dtypes: object(1)
memory usage: 328.2+ KB

In [157]:
source.head()

                      value
1  Pathfinder Core Rulebook
2  Pathfinder Core Rulebook
3
4
5

In [160]:
source.value = source.value.replace("", np.nan)

In [161]:
source.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21004 entries, 1 to 21730
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   value   8347 non-null   object
dtypes: object(1)
memory usage: 328.2+ KB

In [162]:
source.value.value_counts()

Pathfinder Core Rulebook              4665
Pathfinder Bestiary                   3534
Pathfinder Bestiary 2                   85
Pathfinder Bestiary 3                   43
Pathfinder Advanced Player's Guide      11
Pathfinder Secrets of Magic              9
Name: value, dtype: int64

It is just info about **source**

In [ ]:
system.drop(["source"], axis="columns", inplace=True)

### spelldc

In [166]:
spelldc = unpack_column(system[system.spelldc.notnull()], column_name="spelldc")

In [167]:
spelldc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55 entries, 161 to 14135
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   dc      55 non-null     int64
 1   mod     55 non-null     int64
 2   value   55 non-null     int64
dtypes: int64(3)
memory usage: 1.7 KB

In [168]:
spelldc.head()

      dc  mod  value
161   24    0     14
282   42    0     36
794   26    0     20
1303  29    0     24
1500  24    0     17

In [183]:
spelldc.dc.value_counts()

33    6
29    6
28    5
35    4
21    4
24    3
18    3
41    3
40    2
30    2
42    2
36    2
26    2
25    2
37    2
39    2
22    1
27    1
20    1
34    1
38    1
Name: dc, dtype: int64

In [173]:
spelldc["mod"].value_counts()

0    55
Name: mod, dtype: int64

In [174]:
spelldc.value.value_counts()

20    4
24    4
26    4
10    4
11    3
36    3
18    3
29    3
33    3
21    3
23    3
32    2
30    2
38    2
25    2
27    1
8     1
19    1
14    1
16    1
28    1
35    1
13    1
17    1
34    1
Name: value, dtype: int64

In [175]:
items.loc[spelldc.index].type.value_counts()

spellcastingEntry    55
Name: type, dtype: int64

Properity of spellcasting items.

*"DC Stands for Difficulty Class, and it represents the difficulty in either resisting, avoiding, or succumbing to the effects of a spell. When a spell lists in its descriptions that it requires a "Reflex Save for half" or a "Fort Negates" it means that a Save against the Spells DC must be rolled to avoid the effects of the spell.*

*To calculate your Spell DC use the following Formula:*

*Spell DC = 10 + Spell Level + Primary Casting modifier ( INT for Psions and Wizards, CHA for Sorcerer's and Bards, WIS for Druids and Clerics )"*


**Can be useful**

In [176]:
system.drop(["spelldc"], axis="columns", inplace=True)

### tradition

In [178]:
tradition = unpack_column(system[system.tradition.notnull()], column_name="tradition")

In [179]:
tradition.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55 entries, 161 to 14135
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   value   55 non-null     object
dtypes: object(1)
memory usage: 880.0+ bytes

In [180]:
tradition.head()

       value
161   primal
282   arcane
794   arcane
1303  divine
1500  arcane

In [181]:
tradition.value_counts()

value
arcane    24
primal    22
divine     9
dtype: int64

In [184]:
items.loc[tradition.index].type.value_counts()

spellcastingEntry    55
Name: type, dtype: int64

*"Spellcasters cast spells from one of four different spell lists, each representing a different magical tradition: arcane, divine, occult, and primal.*

*Your class determines which tradition of magic your spells use. In some cases, such as when a cleric gains spells from their deity or when a sorcerer gets spells from their bloodline, you might be able to cast spells from a different spell list. In these cases, the spell uses your magic tradition, not the list the spell normally comes from. When you cast a spell, add your tradition’s trait to the spell.*

*Some types of magic, such as that of most magic items, don’t belong to any single tradition. These have the magical trait instead of a tradition trait."*

In [ ]:
system.drop(["tradition"], axis="columns", inplace=True)

### schema

In [188]:
schema = unpack_column(system[system.schema.notnull()], column_name="schema")

In [189]:
schema.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21004 entries, 1 to 21730
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   version        21004 non-null  float64
 1   lastMigration  0 non-null      float64
dtypes: float64(2)
memory usage: 492.3 KB

In [190]:
schema.head()

   version  lastMigration
1    0.827            NaN
2    0.827            NaN
3    0.827            NaN
4    0.827            NaN
5    0.827            NaN

In [191]:
schema.version.value_counts()

0.827    21004
Name: version, dtype: int64

In [194]:
schema.lastMigration.value_counts()  # only NaN

Series([], Name: lastMigration, dtype: int64)

In [196]:
items.loc[schema.index].type.value_counts()

action               7691
spell                5150
lore                 5007
melee                2419
weapon                375
armor                 121
consumable            103
equipment              62
spellcastingEntry      55
condition              11
effect                  5
treasure                4
backpack                1
Name: type, dtype: int64

* version - same for each item with this val
* lastMigration - only NaN

*Not important*

In [197]:
system.drop(["schema"], axis="columns", inplace=True)

### ability

In [198]:
ability = unpack_column(system[system.ability.notnull()], "ability")

In [199]:
ability.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5150 entries, 1 to 21719
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   value   5150 non-null   object
dtypes: object(1)
memory usage: 80.5+ KB

In [200]:
ability.head()

   value
1
2
47
48
49

In [202]:
ability = ability.replace("", np.nan)

In [203]:
ability.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5150 entries, 1 to 21719
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   value   0 non-null      float64
dtypes: float64(1)
memory usage: 80.5 KB

In [204]:
items.loc[ability.index].type.value_counts()

spell    5150
Name: type, dtype: int64

* only NaN values
* for spells only

In [205]:
system.drop(["ability"], axis="columns", inplace=True)

### area

In [206]:
area = unpack_column(system[system.area.notnull()], column_name="area")

In [207]:
area.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1086 entries, 1 to 21719
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   type     1086 non-null   object
 1   value    1086 non-null   int64
 2   details  120 non-null    object
dtypes: int64(1), object(2)
memory usage: 33.9+ KB

In [208]:
area.head()

         type  value                                            details
1       burst     20                                                NaN
2        line     60                                                NaN
49      burst     20  all squares in a 20-foot-radius burst that con...
80  emanation     30                                                NaN
81  emanation     30                                             varies

In [209]:
area.type.value_counts()

burst        551
emanation    381
cone          86
line          68
Name: type, dtype: int64

In [210]:
area.value.value_counts()

30     411
20     281
60     108
10     108
40      40
5       38
50      35
15      31
120     13
100     10
360      9
500      2
Name: value, dtype: int64

In [211]:
area.details.value_counts()

varies                                                       76
all squares in a 20-foot-radius burst that contain plants    24
20-foot burst adjacent to a flat surface                      8
10-foot emanation centered on the touched creature            6
10-foot radius, 40-foot-tall cylinder                         4
30-foot burst centered on you                                 2
Name: details, dtype: int64

In [212]:
items.loc[area.index].type.value_counts()

spell    1086
Name: type, dtype: int64

Spell attributes

**Can be useful**

*"Some effects occupy an area of a specified shape and size. An area effect always has a point of origin and extends out from that point. There are four types of areas: emanations, bursts, cones, and lines. When you’re playing in encounter mode and using a grid, areas are measured in the same way as movement (page 463), but areas’ distances are never reduced or affected by difficult terrain (page 475) or lesser cover (page 476). You can use the diagrams below as common reference templates for areas, rather than measuring squares each time. Many area effects describe only the effects on creatures in the area. The GM determines any effects to the environment and unattended objects."*

In [214]:
system.drop(["area"], axis="columns", inplace=True)

### category

In [215]:
category = unpack_column(system[system.category.notnull()], "category")

In [218]:
category.info()  # 0 column - str instead of dict in system.category column

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5646 entries, 1 to 21720
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   value   5150 non-null   object
 1   0       496 non-null    object
dtypes: object(2)
memory usage: 132.3+ KB

In [219]:
category.head()

    value    0
1   spell  NaN
2   spell  NaN
47  spell  NaN
48  spell  NaN
49  spell  NaN

In [220]:
category.value.value_counts()

spell     4959
ritual     150
focus       41
Name: value, dtype: int64

In [227]:
category[0].value_counts()

martial      234
simple       132
light         44
medium        42
shield        17
heavy         16
advanced       8
unarmored      2
unarmed        1
Name: 0, dtype: int64

In [231]:
items.loc[category[category.value.notnull()].index].type.value_counts()

spell    5150
Name: type, dtype: int64

In [232]:
items.loc[category[category[0].notnull()].index].type.value_counts()

weapon    375
armor     121
Name: type, dtype: int64

Attribute for:
* spells - dict one
* weapon / armor
    *"The armor’s category—unarmored, light armor, medium armor, or heavy armor—indicates which proficiency bonus you use while wearing the armor."*
    *"Weapons fall into broad categories depending on how much damage they deal and what traits they have. Martial weapons generally deal more damage than simple weapons, and advanced weapons generally have more advantageous traits than martial weapons with the same damage. Generally, you’ll want to select weapons that deal more damage, but if you’re a highly skilled combatant, you might want to pick a weapon with interesting traits, even if it has a lower weapon damage die. You can also purchase multiple weapons within your budget, allowing you to switch between them for different situations."*

In [233]:
system.drop(["category"], axis="columns", inplace=True)

### components

In [234]:
components = unpack_column(
    system[system.components.notnull()], column_name="components"
)

In [235]:
components.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5150 entries, 1 to 21719
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   focus     5150 non-null   bool
 1   material  5150 non-null   bool
 2   somatic   5150 non-null   bool
 3   verbal    5150 non-null   bool
dtypes: bool(4)
memory usage: 60.4 KB

In [236]:
components.head()

    focus  material  somatic  verbal
1   False      True     True    True
2   False     False     True    True
47  False     False     True    True
48  False     False     True    True
49  False     False     True    True

In [237]:
items.loc[components.index].type.value_counts()

spell    5150
Name: type, dtype: int64

Spell atribute

*"A spell description lists the components required to Cast the Spell."*

In [238]:
system.drop(["components"], axis="columns", inplace=True)

### cost

In [240]:
cost = unpack_column(system[system.cost.notnull()], column_name="cost")

In [242]:
cost.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5150 entries, 1 to 21719
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   value   5150 non-null   object
dtypes: object(1)
memory usage: 80.5+ KB

In [243]:
cost.head()

   value
1
2
47
48
49

In [244]:
cost.value = cost.value.replace("", np.nan)

In [246]:
cost.value.value_counts()

black onyx, see Table 7-1                                                                                                    11
6 gp of ruby dust                                                                                                             8
reagents to construct the magical prison worth a total value of 800 gp × the target's level                                   6
diamonds worth a total value of 75 gp × the target's level                                                                    6
black sapphire with a gp value of at least the target's level × 100                                                           6
rare incense worth a total value of 60 gp                                                                                     6
rare incense and offerings worth a total value of 20 gp × the target's level                                                  4
rare incense worth a total value of 300 gp                                                                                    4
rare oils worth a total value of 10 gp × the target's level                                                                   4
rare incense and offerings worth a total value of 20 gp × the spell level                                                     4
rare candles and incense worth a total value of 50 gp                                                                         4
herbs, 1/5 the value on Table 7-1                                                                                             3
rare incense and offerings worth a total value of 2 gp × the spell level × the target's level                                 3
faerie circle ingredients worth a total value of 1 gp × the spell level × the target's level                                  3
valuable oils and objects associated with the target worth a total value of 100 gp × the spell level × the target's level     2
1 vial of holy water                                                                                                          2
rare oils, see Table 7-1                                                                                                      1
rare herbs worth a total value of the target's level (minimum 1) × 25 gp                                                      1
rare incense worth a total value of 150 gp                                                                                    1
warding diagram ingredients worth a total value of 2 gp × the spell level × the target's level                                1
Name: value, dtype: int64

In [247]:
items.loc[cost.index].type.value_counts()

spell    5150
Name: type, dtype: int64

Spell atribute

**Not important (?)**

In [248]:
system.drop(["cost"], axis="columns", inplace=True)

### damage

In [252]:
damage = unpack_column(system[system.damage.notnull()], column_name="damage")
damage = damage.replace("", np.nan)

In [253]:
damage.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5525 entries, 1 to 21720
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   value       5150 non-null   object
 1   damageType  376 non-null    object
 2   dice        375 non-null    float64
 3   die         372 non-null    object
dtypes: float64(1), object(3)
memory usage: 215.8+ KB

In [254]:
damage.head()

   value damageType  dice  die
1     {}        NaN   NaN  NaN
2     {}        NaN   NaN  NaN
47    {}        NaN   NaN  NaN
48    {}        NaN   NaN  NaN
49    {}        NaN   NaN  NaN

In [259]:
damage.loc[damage.value == {}] = np.nan

In [260]:
damage.value.value_counts()

{'0': {'applyMod': False, 'type': {'categories': [], 'subtype': '', 'value': 'positive'}, 'value': '1d8'}}    56
{'0': {'applyMod': True, 'type': {'categories': [], 'value': 'mental'}, 'value': '0'}}                        54
{'0': {'applyMod': True, 'type': {'categories': [], 'value': 'fire'}, 'value': '1d4'}}                        26
{'0': {'applyMod': True, 'type': {'categories': [], 'value': 'cold'}, 'value': '1d4'}}                        21
{'0': {'applyMod': True, 'type': {'categories': [], 'value': 'negative'}, 'value': '1d4'}}                    20
                                                                                                              ..
{'0': {'type': {'categories': [], 'value': 'untyped'}, 'value': '9d8'}}                                        1
{'0': {'type': {'categories': [], 'value': 'negative'}, 'value': '8d4'}}                                       1
{'0': {'type': {'categories': [], 'value': 'negative'}, 'value': '8d6'}}                                       1
{'0': {'applyMod': True, 'type': {'categories': [], 'subtype': '', 'value': 'acid'}, 'value': '2d6+2'}}        1
{'0': {'applyMod': True, 'type': {'categories': [], 'subtype': '', 'value': 'negative'}, 'value': '1d4'}}      1
Name: value, Length: 181, dtype: int64

In [265]:
damage.damageType.value_counts()

piercing       193
slashing       109
bludgeoning     67
fire             3
acid             2
cold             1
Name: damageType, dtype: int64

In [266]:
damage.dice.value_counts()

1.0    372
2.0      2
0.0      1
Name: dice, dtype: int64

In [267]:
damage.die.value_counts()

d6     159
d8     100
d4      53
d10     34
d12     25
Name: die, dtype: int64

**CAN BE IMPORTANT**

#### damage value

In [261]:
damage_val = unpack_column(damage[damage.value.notnull()], column_name="value")

In [262]:
damage_val.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 860 entries, 81 to 21719
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   0                 856 non-null    object
 1   gcovwqxwitqchoin  11 non-null     object
 2   zvXU9ZdRVHSORUUn  1 non-null      object
 3   9k8ayqgvgultdghx  4 non-null      object
 4   1                 13 non-null     object
 5   v1pnjhfu6e9akqe0  4 non-null      object
 6   wnlxzlrxtrkk2bh3  1 non-null      object
dtypes: object(7)
memory usage: 53.8+ KB

In [271]:
damage_val["0"].value_counts()

{'applyMod': False, 'type': {'categories': [], 'subtype': '', 'value': 'positive'}, 'value': '1d8'}    56
{'applyMod': True, 'type': {'categories': [], 'value': 'mental'}, 'value': '0'}                        54
{'applyMod': True, 'type': {'categories': [], 'value': 'fire'}, 'value': '1d4'}                        26
{'applyMod': True, 'type': {'categories': [], 'value': 'cold'}, 'value': '1d4'}                        21
{'applyMod': True, 'type': {'categories': [], 'value': 'negative'}, 'value': '1d4'}                    20
                                                                                                       ..
{'type': {'categories': [], 'value': 'untyped'}, 'value': '8d10'}                                       1
{'type': {'categories': [], 'value': 'positive'}, 'value': '8d8'}                                       1
{'type': {'categories': [], 'value': 'cold'}, 'value': '20d6'}                                          1
{'type': {'categories': [], 'value': 'untyped'}, 'value': '9d8'}                                        1
{'applyMod': True, 'type': {'categories': [], 'subtype': '', 'value': 'negative'}, 'value': '1d4'}      1
Name: 0, Length: 180, dtype: int64

##### damage.value.0

In [272]:
d_val_zero = unpack_column_with_null(damage_val, column_name="0")

In [273]:
d_val_zero.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 860 entries, 81 to 21719
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   applyMod  482 non-null    object
 1   type      856 non-null    object
 2   value     856 non-null    object
dtypes: object(3)
memory usage: 26.9+ KB

In [274]:
d_val_zero.head()

    applyMod                                               type  value
81     False  {'categories': [], 'subtype': '', 'value': 'po...    1d8
95       NaN                {'categories': [], 'value': 'fire'}    4d6
97     False  {'categories': [], 'subtype': '', 'value': 'el...   4d12
102     True              {'categories': [], 'value': 'mental'}      0
108    False  {'categories': [], 'subtype': '', 'value': 'fo...  1d4+1

In [284]:
damage_val_zero_type = unpack_column_with_null(d_val_zero, column_name="type")
damage_val_zero_type.categories = damage_val_zero_type.categories.apply(
    lambda x: np.nan if (type(x) == list and len(x) == 0) else x
)
damage_val_zero_type = damage_val_zero_type.replace("", np.nan)

In [285]:
damage_val_zero_type.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 860 entries, 81 to 21719
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   categories  0 non-null      float64
 1   subtype     1 non-null      object
 2   value       847 non-null    object
dtypes: float64(1), object(2)
memory usage: 26.9+ KB

In [286]:
damage_val_zero_type.head()

     categories subtype        value
81          NaN     NaN     positive
95          NaN     NaN         fire
97          NaN     NaN  electricity
102         NaN     NaN       mental
108         NaN     NaN        force

In [287]:
damage_val_zero_type.value.value_counts()

fire           129
negative       110
mental         104
untyped         99
positive        92
bludgeoning     61
cold            58
electricity     40
force           40
acid            27
sonic           27
healing         26
piercing        17
poison          17
Name: value, dtype: int64

In [288]:
damage_val_zero_type.subtype.value_counts()

persistent    1
Name: subtype, dtype: int64

In [131]:
# bestiary.loc[86, :]

In [249]:
# system.drop(["autoHeightenLevel"], axis='columns', inplace=True)
# unpack_column(system[system.cost.notnull()], column_name="cost")
system.head()
# system.columns
# system.proficiency[system.proficiency.notnull()]

,damage,duration,hasCounteractCheck,level,location,materials,primarycheck,range,save,school,...,unidentified,areatype,brokenThreshold,bulkCapacity,collapsed,identification,identified,invested,maxHp,stowing
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,{'value': {}},{'value': '1 minute'},{'value': False},{'value': 2},"{'heightenedLevel': 2, 'value': 'B7rzf0nBJmzg8...",{'value': ''},{'value': ''},{'value': '120 feet'},"{'basic': '', 'value': ''}",{'value': 'conjuration'},...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,{'value': {}},{'value': 'until the start of your next turn'},{'value': False},{'value': 1},"{'heightenedLevel': 1, 'value': 'B7rzf0nBJmzg8...",{'value': ''},{'value': ''},{'value': ''},"{'basic': '', 'value': 'fortitude'}",{'value': 'evocation'},...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN